# 1. Carga de Datos

## 1.1 Carga

In [9]:
import pandas as pd
import numpy as np
from scipy.stats.mstats import mode, gmean, hmean

import warnings
warnings.filterwarnings("ignore")

In [4]:
pd.options.display.max_columns = 100

%matplotlib inline
from matplotlib import pyplot as plt
import matplotlib
matplotlib.style.use('ggplot')

In [12]:
train_ori = pd.read_csv("data/train.csv")
TARGET = 'Approved'
train_ori.head()

,ID,Gender,DOB,Lead_Creation_Date,City_Code,City_Category,Employer_Code,Employer_Category1,Employer_Category2,Monthly_Income,Customer_Existing_Primary_Bank_Code,Primary_Bank_Type,Contacted,Source,Source_Category,Existing_EMI,Loan_Amount,Loan_Period,Interest_Rate,EMI,Var1,Approved
0,APPC90493171225,Female,23/07/79,15/07/16,C10001,A,COM0044082,A,4.0,2000.0,B001,P,N,S122,G,0.0,NaN,NaN,NaN,NaN,0,0
1,APPD40611263344,Male,07/12/86,04/07/16,C10003,A,COM0000002,C,1.0,3500.0,B002,P,Y,S122,G,0.0,20000.0,2.0,13.25,953.0,10,0
2,APPE70289249423,Male,10/12/82,19/07/16,C10125,C,COM0005267,C,4.0,2250.0,B003,G,Y,S143,B,0.0,45000.0,4.0,NaN,NaN,0,0
3,APPF80273865537,Male,30/01/89,09/07/16,C10477,C,COM0004143,A,4.0,3500.0,B003,G,Y,S143,B,0.0,92000.0,5.0,NaN,NaN,7,0
4,APPG60994436641,Male,19/04/85,20/07/16,C10002,A,COM0001781,A,4.0,10000.0,B001,P,Y,S134,B,2500.0,50000.0,2.0,NaN,NaN,10,0

In [11]:
test_ori = pd.read_csv("data/test.csv")
test_ori.head()

,ID,Gender,DOB,Lead_Creation_Date,City_Code,City_Category,Employer_Code,Employer_Category1,Employer_Category2,Monthly_Income,Customer_Existing_Primary_Bank_Code,Primary_Bank_Type,Contacted,Source,Source_Category,Existing_EMI,Loan_Amount,Loan_Period,Interest_Rate,EMI,Var1
0,APPA70109647212,Male,03/06/88,05/07/16,C10028,C,COM0002222,A,4.0,2150.0,B002,P,Y,S122,B,0.0,10000.0,3.0,20.0,372.0,4
1,APPB10687939341,Male,13/07/81,01/07/16,C10003,A,COM0001784,C,4.0,4200.0,B004,P,Y,S133,C,0.0,69000.0,5.0,24.0,1985.0,7
2,APPC80449411414,Female,19/11/90,01/07/16,C10009,B,COM0045260,B,4.0,1000.0,B002,P,N,S133,B,0.0,NaN,NaN,NaN,NaN,0
3,APPD30665094501,Female,15/10/92,01/07/16,C10005,A,COM0000085,A,3.0,1465.0,B001,P,N,S133,C,0.0,NaN,NaN,NaN,NaN,0
4,APPE80379821637,Male,21/09/88,01/07/16,C10005,A,COM0006422,A,4.0,2340.0,B004,P,Y,S143,B,500.0,10000.0,2.0,NaN,NaN,0

In [14]:
train_ori[TARGET].value_counts()

0    68693
1     1020
Name: Approved, dtype: int64

In [16]:
print(train_ori.shape)
print(test_ori.shape)

(69713, 22)
(30037, 21)

## 1.2 Revisión Inicial

In [17]:
train_ori.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 69713 entries, 0 to 69712
Data columns (total 22 columns):
ID                                     69713 non-null object
Gender                                 69713 non-null object
DOB                                    69698 non-null object
Lead_Creation_Date                     69713 non-null object
City_Code                              68899 non-null object
City_Category                          68899 non-null object
Employer_Code                          65695 non-null object
Employer_Category1                     65695 non-null object
Employer_Category2                     65415 non-null float64
Monthly_Income                         69713 non-null float64
Customer_Existing_Primary_Bank_Code    60322 non-null object
Primary_Bank_Type                      60322 non-null object
Contacted                              69713 non-null object
Source                                 69713 non-null object
Source_Category                        69713 non-null object
Existing_EMI                           69662 non-null float64
Loan_Amount                            42004 non-null float64
Loan_Period                            42004 non-null float64
Interest_Rate                          22276 non-null float64
EMI                                    22276 non-null float64
Var1                                   69713 non-null int64
Approved                               69713 non-null int64
dtypes: float64(7), int64(2), object(13)
memory usage: 11.7+ MB

In [18]:
train_ori.describe()

,Employer_Category2,Monthly_Income,Existing_EMI,Loan_Amount,Loan_Period,Interest_Rate,EMI,Var1,Approved
count,65415.000000,6.971300e+04,69662.000000,42004.000000,42004.000000,22276.000000,22276.000000,69713.000000,69713.000000
mean,3.720187,5.622283e+03,360.928751,39429.982859,3.890629,19.213570,1101.466242,3.948446,0.014631
std,0.807374,1.747671e+05,2288.517927,30727.595990,1.167491,5.847136,752.661394,3.819214,0.120073
min,1.000000,0.000000e+00,0.000000,5000.000000,1.000000,11.990000,118.000000,0.000000,0.000000
25%,4.000000,1.650000e+03,0.000000,20000.000000,3.000000,15.250000,649.000000,0.000000,0.000000
50%,4.000000,2.500000e+03,0.000000,30000.000000,4.000000,18.000000,941.000000,2.000000,0.000000
75%,4.000000,4.000000e+03,350.000000,50000.000000,5.000000,20.000000,1295.000000,7.000000,0.000000
max,4.000000,3.838384e+07,545436.500000,300000.000000,6.000000,37.000000,13556.000000,10.000000,1.000000

In [103]:
test_ori.describe()

,Employer_Category2,Monthly_Income,Existing_EMI,Loan_Amount,Loan_Period,Interest_Rate,EMI,Var1
count,28342.000000,3.003700e+04,30005.000000,18166.000000,18166.000000,9652.000000,9652.000000,30037.000000
mean,3.728248,3.977139e+03,348.909060,39482.990201,3.903116,19.280537,1094.914836,3.962313
std,0.794883,2.328960e+04,1000.816847,30527.865594,1.150820,5.882246,727.452303,3.821020
min,1.000000,0.000000e+00,0.000000,5000.000000,1.000000,11.990000,118.000000,0.000000
25%,4.000000,1.650000e+03,0.000000,20000.000000,3.000000,15.250000,625.000000,0.000000
50%,4.000000,2.500000e+03,0.000000,30000.000000,4.000000,18.000000,946.000000,2.000000
75%,4.000000,4.000000e+03,350.000000,50000.000000,5.000000,20.000000,1291.000000,7.000000
max,4.000000,3.500000e+06,43000.000000,300000.000000,6.000000,37.000000,6979.000000,10.000000

In [362]:
vars_revision_group = ['Gender',
'DOB',
'Lead_Creation_Date',
'City_Code',
'City_Category',
'Employer_Code',
'Employer_Category1',
'Employer_Category2',
'Customer_Existing_Primary_Bank_Code',
'Primary_Bank_Type',
'Contacted',
'Source',
'Source_Category',
'Loan_Period',
'Var1']

# 2. Preparacion de Datos

In [251]:
train = train_ori.copy()
test = test_ori.copy()

In [252]:
cont = 0
for y in vars_revision_group:
    cont = cont + 1
    print("------------------------------------------------------")
    print(str(cont),". Var: ",y, sep = "")
    print(pd.concat([pd.DataFrame(train_ori[:][y].value_counts(dropna=False).index, columns = ['Atributo']),
           pd.DataFrame(train_ori[:][y].value_counts(dropna=False).values, columns = ['Cantidad']),
           pd.DataFrame(100*train_ori[:][y].value_counts(dropna=False).values/len(train_ori), columns = ['%Total'])], axis = 1))

------------------------------------------------------
1. Var: Gender
  Atributo  Cantidad    %Total
0     Male     39949  57.30495
1   Female     29764  42.69505
------------------------------------------------------
2. Var: DOB
       Atributo  Cantidad    %Total
0      11/01/82       253  0.362917
1      04/03/71       183  0.262505
2      03/03/71       121  0.173569
3      03/03/91       103  0.147749
4      03/03/81        88  0.126232
5      03/03/87        83  0.119060
6      03/03/90        78  0.111887
7      03/03/86        77  0.110453
8      03/03/89        75  0.107584
9      01/08/86        67  0.096108
10     03/03/88        59  0.084633
11     03/03/92        59  0.084633
12     01/08/87        57  0.081764
13     11/01/90        53  0.076026
14     03/03/85        52  0.074592
15     02/08/89        50  0.071723
16     31/08/87        49  0.070288
17     31/08/90        48  0.068854
18     31/08/88        47  0.067419
19     01/09/86        47  0.067419
20     15/07/91        47  0.067419
21     10/08/87        46  0.065985
22     10/09/89        46  0.065985
23     01/08/91        46  0.065985
24     05/08/90        45  0.064550
25     01/09/89        45  0.064550
26     31/08/91        44  0.063116
27     02/08/85        43  0.061681
28     01/08/90        43  0.061681
29     01/08/83        41  0.058813
...         ...       ...       ...
10730  19/03/65         1  0.001434
10731  29/05/85         1  0.001434
10732  06/06/74         1  0.001434
10733  15/11/71         1  0.001434
10734  19/10/69         1  0.001434
10735  25/04/78         1  0.001434
10736  22/03/53         1  0.001434
10737  20/04/60         1  0.001434
10738  01/12/60         1  0.001434
10739  20/10/72         1  0.001434
10740  21/10/80         1  0.001434
10741  18/06/76         1  0.001434
10742  10/11/66         1  0.001434
10743  03/04/97         1  0.001434
10744  16/02/59         1  0.001434
10745  20/08/96         1  0.001434
10746  13/05/72         1  0.001434
10747  21/12/60         1  0.001434
10748  27/06/76         1  0.001434
10749  07/10/79         1  0.001434
10750  28/12/75         1  0.001434
10751  26/04/74         1  0.001434
10752  24/02/67         1  0.001434
10753  06/05/69         1  0.001434
10754  21/11/73         1  0.001434
10755  07/07/76         1  0.001434
10756  25/08/75         1  0.001434
10757  29/10/71         1  0.001434
10758  12/04/59         1  0.001434
10759  21/01/72         1  0.001434

[10760 rows x 3 columns]
------------------------------------------------------
3. Var: Lead_Creation_Date
    Atributo  Cantidad    %Total
0   02/09/16      1838  2.636524
1   22/09/16      1629  2.336723
2   29/09/16      1038  1.488962
3   26/09/16      1036  1.486093
4   30/09/16      1028  1.474617
5   28/09/16      1001  1.435887
6   20/09/16       974  1.397157
7   19/09/16       969  1.389985
8   17/09/16       965  1.384247
9   22/08/16       963  1.381378
10  14/09/16       962  1.379943
11  21/09/16       954  1.368468
12  26/07/16       951  1.364165
13  23/08/16       948  1.359861
14  05/09/16       927  1.329738
15  27/09/16       927  1.329738
16  17/08/16       910  1.305352
17  05/07/16       910  1.305352
18  04/08/16       900  1.291007
19  04/07/16       893  1.280966
20  03/08/16       884  1.268056
21  13/07/16       879  1.260884
22  29/08/16       871  1.249408
23  27/08/16       858  1.230760
24  27/07/16       857  1.229326
25  18/08/16       844  1.210678
26  09/08/16       842  1.207809
27  15/09/16       839  1.203506
28  25/07/16       837  1.200637
29  18/07/16       837  1.200637
..       ...       ...       ...
62  08/07/16       682  0.978297
63  12/09/16       677  0.971124
64  24/08/16       653  0.936698
65  20/08/16       652  0.935263
66  30/07/16       643  0.922353
67  05/08/16       639  0.916615
68  09/09/16       629  0.902271
69  09/07/16       595  0.853499
70  13/08/16       593  0.850630
71  02/07/16       590  0.846327
72  11/08/16       583  0.836286
73  19/07/16       579  0.830548
74  06/08/16       573  0.821941
75  25/08/16       558  0.800425
76  23/07/16       546  0.783211
77  25/09/16       532  0.763129
78  28/08/16       529  0.758825
79  21/08/16       529  0.758825
80  04/09/16       505  0.724399
81  10/09/16       491  0.704316
82  18/09/16       483  0.692841
83  01/07/16       479  0.687103
84  17/07/16       469  0.672758
85  07/08/16       449  0.644069
86  03/07/16       425  0.609642
87  24/07/16       406  0.582388
88  11/09/16       394  0.565174
89  31/07/16       390  0.559437
90  10/07/16       364  0.522141
91  14/08/16       302  0.433205

[92 rows x 3 columns]
------------------------------------------------------
4. Var: City_Code
    Atributo  Cantidad     %Total
0     C10001     10007  14.354568
1     C10002      8716  12.502690
2     C10003      8666  12.430967
3     C10004      5843   8.381507
4     C10005      5564   7.981295
5     C10006      4203   6.029005
6     C10007      2301   3.300676
7     C10008      1450   2.079956
8     C10009      1056   1.514782
9     C10010       962   1.379943
10    C10011       930   1.334041
11       NaN       814   1.167644
12    C10012       717   1.028503
13    C10013       686   0.984035
14    C10014       634   0.909443
15    C10015       603   0.864975
16    C10016       592   0.849196
17    C10017       488   0.700013
18    C10018       475   0.681365
19    C10019       472   0.677062
20    C10020       446   0.639766
21    C10021       414   0.593863
22    C10022       398   0.570912
23    C10024       358   0.513534
24    C10023       351   0.503493
25    C10025       300   0.430336
26    C10026       298   0.427467
27    C10027       286   0.410253
28    C10028       255   0.365785
29    C10029       232   0.332793
..       ...       ...        ...
649   C10717         1   0.001434
650   C10435         1   0.001434
651   C10583         1   0.001434
652   C10663         1   0.001434
653   C10675         1   0.001434
654   C10690         1   0.001434
655   C10695         1   0.001434
656   C10635         1   0.001434
657   C10531         1   0.001434
658   C10667         1   0.001434
659   C10481         1   0.001434
660   C10677         1   0.001434
661   C10446         1   0.001434
662   C10574         1   0.001434
663   C10708         1   0.001434
664   C10668         1   0.001434
665   C10644         1   0.001434
666   C10674         1   0.001434
667   C10539         1   0.001434
668   C10680         1   0.001434
669   C10610         1   0.001434
670   C10596         1   0.001434
671   C10543         1   0.001434
672   C10700         1   0.001434
673   C10682         1   0.001434
674   C10550         1   0.001434
675   C10664         1   0.001434
676   C10686         1   0.001434
677   C10594         1   0.001434
678   C10573         1   0.001434

[679 rows x 3 columns]
------------------------------------------------------
5. Var: City_Category
  Atributo  Cantidad     %Total
0        A     49885  71.557672
1        C     11694  16.774490
2        B      7320  10.500194
3      NaN       814   1.167644
------------------------------------------------------
6. Var: Employer_Code
         Atributo  Cantidad    %Total
0             NaN      4018  5.763631
1      COM0000002       457  0.655545
2      COM0000003       324  0.464763
3      COM0000004       262  0.375827
4      COM0000005       243  0.348572
5      COM0000006       195  0.279718
6      COM0000007       189  0.271112
7      COM0000009       153  0.219471
8      COM0000010       145  0.207996
9      COM0000013       133  0.190782
10     COM0000012       132  0.189348
11     COM0000011       131  0.187913
12     COM0000014       126  0.180741
13     COM0000008       121  0.173569
14     COM0000015       118  0.169265
15     COM0000017       115  0.164962
16     COM0000021       107  0.153486
17     COM0000018       107  0.153486
18     COM0000019       102  0.146314
19     COM0000024        98  0.140576
20     COM0000023        95  0.136273
21     COM0000020        94  0.134839
22     COM0000016        93  0.133404
23     COM0000028        91  0.130535
24     COM0000022        87  0.124797
25     COM0000025        80  0.114756
26     COM0000031        80  0.114756
27     COM0000027        79  0.113322
28     COM0000030        77  0.110453
29     COM0000026        77  0.110453
...           ...       ...       ...
36588  COM0033499         1  0.001434
36589  COM0006426         1  0.001434
36590  COM0034794         1  0.001434
36591  COM0028538         1  0.001434
36592  COM0015302         1  0.001434
36593  COM0010018         1  0.001434
36594  COM0045507         1  0.001434
36595  COM0050112         1  0.001434
36596  COM0038993         1  0.001434
36597  COM0025318         1  0.001434
36598  COM0053919         1  0.001434
36599  COM0035107         1  0.001434
36600  COM0016749         1  0.001434
36601  COM0026299         1  0.001434
36602  COM0043323         1  0.001434
36603  COM0023223         1  0.001434
36604  COM0015901         1  0.001434
36605  COM0014932         1  0.001434
36606  COM0050651         1  0.001434
36607  COM0032697         1  0.001434
36608  COM0038143         1  0.001434
36609  COM0024425         1  0.001434
36610  COM0045400         1  0.001434
36611  COM0043770         1  0.001434
36612  COM0015611         1  0.001434
36613  COM0041387         1  0.001434
36614  COM0018886         1  0.001434
36615  COM0003650         1  0.001434
36616  COM0035987         1  0.001434
36617  COM0039610         1  0.001434

[36618 rows x 3 columns]
------------------------------------------------------
7. Var: Employer_Category1
  Atributo  Cantidad     %Total
0        A     33336  47.818915
1        B     18056  25.900478
2        C     14303  20.516977
3      NaN      4018   5.763631
------------------------------------------------------
8. Var: Employer_Category2
   Atributo  Cantidad     %Total
0       4.0     57582  82.598654
1       NaN      4298   6.165278
2       1.0      4258   6.107900
3       2.0      1955   2.804355
4       3.0      1620   2.323813
------------------------------------------------------
9. Var: Customer_Existing_Primary_Bank_Code
   Atributo  Cantidad     %Total
0      B001     14197  20.364925
1      B002     10880  15.606845
2      B003      9515  13.648817
3       NaN      9391  13.470945
4      B004      7070  10.141580
5      B005      1920   2.754149
6      B006      1662   2.384060
7      B007      1239   1.777287
8      B008       945   1.355558
9      B009       941   1.349820
10     B010       920   1.319696
11     B012       789   1.131783
12     B013       785   1.126045
13     B011       775   1.111701
14     B014       606   0.869278
15     B015       561   0.804728
16     B016       518   0.743046
17     B017       495   0.710054
18     B018       475   0.681365
19     B019       445   0.638331
20     B020       420   0.602470
21     B021       401   0.575216
22     B022       388   0.556568
23     B023       355   0.509231
24     B024       335   0.480542
25     B025       327   0.469066
26     B027       268   0.384433
27     B026       262   0.375827
28     B028       258   0.370089
29     B029       206   0.295497
30     B030       202   0.289759
31     B031       201   0.288325
32     B033       188   0.269677
33     B032       187   0.268243
34     B034       184   0.263939
35     B035       161   0.230947
36     B038       149   0.213733
37     B036       145   0.207996
38     B037       137   0.196520
39     B039       137   0.196520
40     B040       133   0.190782
41     B041        98   0.140576
42     B042        80   0.114756
43     B043        70   0.100412
44     B044        60   0.086067
45     B046        48   0.068854
46     B045        47   0.067419
47     B047        39   0.055944
48     B048        34   0.048771
49     B049        15   0.021517
50     B050        12   0.017213
51     B054         8   0.011476
52     B051         8   0.011476
53     B052         7   0.010041
54     B053         5   0.007172
55     B055         4   0.005738
56     B056         4   0.005738
57     B057         1   0.001434
------------------------------------------------------
10. Var: Primary_Bank_Type
  Atributo  Cantidad     %Total
0        P     39619  56.831581
1        G     20703  29.697474
2      NaN      9391  13.470945
------------------------------------------------------
11. Var: Contacted

  Atributo  Cantidad     %Total
0        Y     45275  64.944845
1        N     24438  35.055155
------------------------------------------------------
12. Var: Source
   Atributo  Cantidad     %Total
0      S122     30941  44.383401
1      S133     23877  34.250427
2      S159      4474   6.417741
3      S143      3480   4.991895
4      S127      1546   2.217664
5      S137      1400   2.008234
6      S134      1048   1.503306
7      S161       621   0.890795
8      S151       569   0.816204
9      S157       507   0.727268
10     S153       403   0.578084
11     S156       250   0.358613
12     S144       243   0.348572
13     S158       167   0.239554
14     S123        61   0.087502
15     S141        46   0.065985
16     S162        31   0.044468
17     S124        17   0.024386
18     S150         7   0.010041
19     S160         7   0.010041
20     S129         3   0.004303
21     S136         3   0.004303
22     S155         3   0.004303
23     S139         2   0.002869
24     S135         2   0.002869
25     S138         2   0.002869
26     S130         1   0.001434
27     S140         1   0.001434
28     S154         1   0.001434
------------------------------------------------------
13. Var: Source_Category
  Atributo  Cantidad     %Total
0        B     29812  42.763903
1        G     26518  38.038816
2        C     11374  16.315465
3        E      1050   1.506175
4        D       497   0.712923
5        F       459   0.658414
6        A         3   0.004303
------------------------------------------------------
14. Var: Loan_Period
   Atributo  Cantidad     %Total
0       NaN     27709  39.747249
1       5.0     16653  23.887941
2       4.0     12139  17.412821
3       3.0      7059  10.125802
4       2.0      4266   6.119375
5       1.0      1886   2.705378
6       6.0         1   0.001434
------------------------------------------------------
15. Var: Var1
   Atributo  Cantidad     %Total
0         0     23308  33.434223
1        10     13420  19.250355
2         2     13363  19.168591
3         7     11948  17.138841
4         4      7674  11.007990
------------------------------------------------------
16. Var: Approved
   Atributo  Cantidad     %Total
0         0     68693  98.536858
1         1      1020   1.463142

In [253]:
# Ordenado según % Frecuencia y % Ratio de Conversión
data_imp_temp = train.copy().fillna(-99)
cont = 0
for y in vars_revision_group:
    cont = cont + 1
    print("------------------------------------------------------")
    print(str(cont),". Var: ",y, sep = "")
    print(y)
    print(pd.concat([pd.DataFrame(data_imp_temp[:][y].value_counts().index, columns = ['Atributo']),
           pd.DataFrame(data_imp_temp[:][y].value_counts().values, columns = ['Cantidad']),
           pd.DataFrame(100*data_imp_temp[:][y].value_counts().values/len(data_imp_temp), columns = ['%Total'])], axis = 1))
    temp = pd.DataFrame(np.array(data_imp_temp.groupby(y, as_index = False, axis = 0)[TARGET].mean()), 
                         columns = [y,"% ratio_conv"])
    temp["% ratio_conv"] = temp["% ratio_conv"]*100
    temp = temp.sort_values(by = ["% ratio_conv"], ascending = [False])
    print(temp)

------------------------------------------------------
1. Var: Gender
Gender
  Atributo  Cantidad    %Total
0     Male     39949  57.30495
1   Female     29764  42.69505
   Gender % ratio_conv
1    Male      1.93246
0  Female     0.833221
------------------------------------------------------
2. Var: DOB
DOB
       Atributo  Cantidad    %Total
0      11/01/82       253  0.362917
1      04/03/71       183  0.262505
2      03/03/71       121  0.173569
3      03/03/91       103  0.147749
4      03/03/81        88  0.126232
5      03/03/87        83  0.119060
6      03/03/90        78  0.111887
7      03/03/86        77  0.110453
8      03/03/89        75  0.107584
9      01/08/86        67  0.096108
10     03/03/92        59  0.084633
11     03/03/88        59  0.084633
12     01/08/87        57  0.081764
13     11/01/90        53  0.076026
14     03/03/85        52  0.074592
15     02/08/89        50  0.071723
16     31/08/87        49  0.070288
17     31/08/90        48  0.068854
18     31/08/88        47  0.067419
19     01/09/86        47  0.067419
20     15/07/91        47  0.067419
21     01/08/91        46  0.065985
22     10/08/87        46  0.065985
23     10/09/89        46  0.065985
24     01/09/89        45  0.064550
25     05/08/90        45  0.064550
26     31/08/91        44  0.063116
27     01/08/90        43  0.061681
28     02/08/85        43  0.061681
29     01/08/88        41  0.058813
...         ...       ...       ...
10730  10/09/74         1  0.001434
10731  11/02/70         1  0.001434
10732  19/12/77         1  0.001434
10733  30/12/78         1  0.001434
10734  03/03/54         1  0.001434
10735  03/02/97         1  0.001434
10736  22/06/73         1  0.001434
10737  01/04/98         1  0.001434
10738  05/10/71         1  0.001434
10739  21/08/76         1  0.001434
10740  02/07/98         1  0.001434
10741  29/07/75         1  0.001434
10742  26/07/69         1  0.001434
10743  05/08/74         1  0.001434
10744  18/03/97         1  0.001434
10745  13/06/63         1  0.001434
10746  11/11/68         1  0.001434
10747  21/08/79         1  0.001434
10748  22/10/97         1  0.001434
10749  07/07/53         1  0.001434
10750  06/08/73         1  0.001434
10751  23/06/73         1  0.001434
10752  13/10/72         1  0.001434
10753  30/10/77         1  0.001434
10754  21/09/65         1  0.001434
10755  24/05/66         1  0.001434
10756  05/03/75         1  0.001434
10757  22/12/78         1  0.001434
10758  21/03/96         1  0.001434
10759  18/06/67         1  0.001434

[10760 rows x 3 columns]
            DOB % ratio_conv
2439   07/07/76          100
1312   04/06/65          100
4787   14/03/72          100
10581  31/03/64          100
1625   05/05/61          100
1886   06/01/73          100
2270   07/02/63          100
7243   21/01/72          100
7965   23/02/66          100
6532   19/01/75          100
10240  30/01/61          100
8076   23/06/59          100
123    01/05/65          100
6847   19/12/70          100
3353   10/03/68          100
9178   26/09/73          100
2584   07/12/74          100
7941   23/01/75          100
6834   19/11/83          100
7588   22/01/74          100
6588   19/03/66          100
68     01/03/80          100
9169   26/09/60          100
2832   08/09/73          100
9599   28/01/76          100
6317   18/06/67          100
4237   12/08/66          100
2405   07/06/74          100
9139   26/08/64          100
8848   25/09/72          100
...         ...          ...
3795   11/05/80            0
3797   11/05/82            0
3769   11/04/86            0
3798   11/05/83            0
3799   11/05/84            0
3800   11/05/85            0
3802   11/05/87            0
3804   11/05/89            0
3805   11/05/90            0
3806   11/05/91            0
3788   11/05/72            0
3787   11/05/69            0
3786   11/05/68            0
3785   11/05/67            0
3770   11/04/87            0
3771   11/04/88            0
3772   11/04/89            0
3773   11/04/90            0
3774   11/04/91            0
3775   11/04/92            0
3776   11/04/93            0
3777   11/04/95            0
3778   11/04/96            0
3779   11/05/58            0
3780   11/05/59            0
3781   11/05/60            0
3782   11/05/63            0
3783   11/05/64            0
3784   11/05/66            0
10759  31/12/98            0

[10760 rows x 2 columns]
------------------------------------------------------
3. Var: Lead_Creation_Date
Lead_Creation_Date
    Atributo  Cantidad    %Total
0   02/09/16      1838  2.636524
1   22/09/16      1629  2.336723
2   29/09/16      1038  1.488962
3   26/09/16      1036  1.486093
4   30/09/16      1028  1.474617
5   28/09/16      1001  1.435887
6   20/09/16       974  1.397157
7   19/09/16       969  1.389985
8   17/09/16       965  1.384247
9   22/08/16       963  1.381378
10  14/09/16       962  1.379943
11  21/09/16       954  1.368468
12  26/07/16       951  1.364165
13  23/08/16       948  1.359861
14  05/09/16       927  1.329738
15  27/09/16       927  1.329738
16  17/08/16       910  1.305352
17  05/07/16       910  1.305352
18  04/08/16       900  1.291007
19  04/07/16       893  1.280966
20  03/08/16       884  1.268056
21  13/07/16       879  1.260884
22  29/08/16       871  1.249408
23  27/08/16       858  1.230760
24  27/07/16       857  1.229326
25  18/08/16       844  1.210678
26  09/08/16       842  1.207809
27  15/09/16       839  1.203506
28  25/07/16       837  1.200637
29  18/07/16       837  1.200637
..       ...       ...       ...
62  08/07/16       682  0.978297
63  12/09/16       677  0.971124
64  24/08/16       653  0.936698
65  20/08/16       652  0.935263
66  30/07/16       643  0.922353
67  05/08/16       639  0.916615
68  09/09/16       629  0.902271
69  09/07/16       595  0.853499
70  13/08/16       593  0.850630
71  02/07/16       590  0.846327
72  11/08/16       583  0.836286
73  19/07/16       579  0.830548
74  06/08/16       573  0.821941
75  25/08/16       558  0.800425
76  23/07/16       546  0.783211
77  25/09/16       532  0.763129
78  28/08/16       529  0.758825
79  21/08/16       529  0.758825
80  04/09/16       505  0.724399
81  10/09/16       491  0.704316
82  18/09/16       483  0.692841
83  01/07/16       479  0.687103
84  17/07/16       469  0.672758
85  07/08/16       449  0.644069
86  03/07/16       425  0.609642
87  24/07/16       406  0.582388
88  11/09/16       394  0.565174
89  31/07/16       390  0.559437
90  10/07/16       364  0.522141
91  14/08/16       302  0.433205

[92 rows x 3 columns]
   Lead_Creation_Date % ratio_conv
29           10/09/16      2.85132
35           12/09/16      2.65879
27           10/07/16      2.47253
8            03/09/16      2.44957
91           31/08/16      2.38411
6            03/07/16      2.35294
13           05/08/16      2.34742
57           20/07/16       2.2756
61           21/08/16      2.26843
18           07/07/16      2.11268
38           13/09/16       2.1025
43           15/08/16      2.04918
72           25/07/16      2.03106
37           13/08/16      2.02361
10           04/08/16            2
58           20/08/16      1.99387
11           04/09/16       1.9802
41           14/09/16      1.97505
73           25/08/16      1.97133
20           07/09/16      1.92771
55           19/08/16      1.90217
54           19/07/16      1.89983
82           28/08/16      1.89036
24           09/07/16      1.84874
85           29/08/16      1.83697
30           11/07/16       1.8226
76           26/08/16      1.82039
81           28/07/16      1.80412
44           15/09/16      1.78784
64           22/08/16      1.76532
..                ...          ...
15           06/07/16      1.23153
45           16/07/16      1.22449
39           14/07/16      1.16883
4            02/08/16       1.1658
2            01/09/16      1.14943
46           16/08/16      1.14613
84           29/07/16      1.14449
47           16/09/16      1.12641
66           23/07/16       1.0989
52           18/08/16      1.06635
75           26/07/16      1.05152
79           27/08/16      1.04895
68           23/09/16      1.04439
40           14/08/16     0.993377
86           29/09/16     0.963391
63           22/07/16     0.952381
31           11/08/16     0.857633
48           17/07/16     0.852878
3            02/07/16     0.847458
53           18/09/16     0.828157
59           20/09/16     0.821355
80           27/09/16     0.755124
65           22/09/16     0.736648
5            02/09/16     0.707291
78           27/07/16     0.700117
50           17/09/16     0.621762
74           25/09/16      0.56391
90           31/07/16     0.512821
32           11/09/16     0.507614
69           24/07/16     0.246305

[92 rows x 2 columns]
------------------------------------------------------
4. Var: City_Code
City_Code
    Atributo  Cantidad     %Total
0     C10001     10007  14.354568
1     C10002      8716  12.502690
2     C10003      8666  12.430967
3     C10004      5843   8.381507
4     C10005      5564   7.981295
5     C10006      4203   6.029005
6     C10007      2301   3.300676
7     C10008      1450   2.079956
8     C10009      1056   1.514782
9     C10010       962   1.379943
10    C10011       930   1.334041
11       -99       814   1.167644
12    C10012       717   1.028503
13    C10013       686   0.984035
14    C10014       634   0.909443
15    C10015       603   0.864975
16    C10016       592   0.849196
17    C10017       488   0.700013
18    C10018       475   0.681365
19    C10019       472   0.677062
20    C10020       446   0.639766
21    C10021       414   0.593863
22    C10022       398   0.570912
23    C10024       358   0.513534
24    C10023       351   0.503493
25    C10025       300   0.430336
26    C10026       298   0.427467
27    C10027       286   0.410253
28    C10028       255   0.365785
29    C10029       232   0.332793
..       ...       ...        ...
649   C10689         1   0.001434
650   C10676         1   0.001434
651   C10665         1   0.001434
652   C10673         1   0.001434
653   C10617         1   0.001434
654   C10474         1   0.001434
655   C10712         1   0.001434
656   C10644         1   0.001434
657   C10542         1   0.001434
658   C10700         1   0.001434
659   C10715         1   0.001434
660   C10596         1   0.001434
661   C10708         1   0.001434
662   C10574         1   0.001434
663   C10668         1   0.001434
664   C10651         1   0.001434
665   C10635         1   0.001434
666   C10695         1   0.001434
667   C10495         1   0.001434
668   C10435         1   0.001434
669   C10531         1   0.001434
670   C10692         1   0.001434
671   C10544         1   0.001434
672   C10481         1   0.001434
673   C10600         1   0.001434
674   C10677         1   0.001434
675   C10702         1   0.001434
676   C10667         1   0.001434
677   C10446         1   0.001434
678   C10713         1   0.001434

[679 rows x 3 columns]
    City_Code % ratio_conv
464    C10464           50
625    C10638           50
420    C10420           25
510    C10510           25
432    C10432           25
277    C10277           25
411    C10411         12.5
300    C10300         12.5
249    C10249      9.09091
247    C10247      7.69231
238    C10238      7.69231
217    C10217      7.14286
195    C10195      6.66667
211    C10211         6.25
109    C10109      5.71429
210    C10210       4.7619
203    C10203       4.7619
63     C10063      4.28571
161    C10161      4.16667
87     C10087      4.08163
56     C10056            4
124    C10124            4
127    C10127      3.84615
139    C10139      3.22581
62     C10062       3.0303
130    C10130      2.94118
48     C10048      2.88462
35     C10035       2.7933
57     C10057      2.73973
18     C10018      2.73684
..        ...          ...
290    C10290            0
291    C10291            0
292    C10292            0
293    C10293            0
294    C10294            0
295    C10295            0
296    C10296            0
297    C10297            0
298    C10298            0
299    C10299            0
301    C10301            0
285    C10285            0
284    C10284            0
283    C10283            0
273    C10273            0
267    C10267            0
268    C10268            0
269    C10269            0
270    C10270            0
271    C10271            0
272    C10272            0
274    C10274            0
282    C10282            0
275    C10275            0
276    C10276            0
278    C10278            0
279    C10279            0
280    C10280            0
281    C10281            0
678    C10722            0

[679 rows x 2 columns]
------------------------------------------------------
5. Var: City_Category
City_Category
  Atributo  Cantidad     %Total
0        A     49885  71.557672
1        C     11694  16.774490
2        B      7320  10.500194
3      -99       814   1.167644
  City_Category % ratio_conv
1             A      1.65581
2             B       1.3388
3             C     0.803831
0           -99       0.2457
------------------------------------------------------

6. Var: Employer_Code
Employer_Code
         Atributo  Cantidad    %Total
0             -99      4018  5.763631
1      COM0000002       457  0.655545
2      COM0000003       324  0.464763
3      COM0000004       262  0.375827
4      COM0000005       243  0.348572
5      COM0000006       195  0.279718
6      COM0000007       189  0.271112
7      COM0000009       153  0.219471
8      COM0000010       145  0.207996
9      COM0000013       133  0.190782
10     COM0000012       132  0.189348
11     COM0000011       131  0.187913
12     COM0000014       126  0.180741
13     COM0000008       121  0.173569
14     COM0000015       118  0.169265
15     COM0000017       115  0.164962
16     COM0000021       107  0.153486
17     COM0000018       107  0.153486
18     COM0000019       102  0.146314
19     COM0000024        98  0.140576
20     COM0000023        95  0.136273
21     COM0000020        94  0.134839
22     COM0000016        93  0.133404
23     COM0000028        91  0.130535
24     COM0000022        87  0.124797
25     COM0000031        80  0.114756
26     COM0000025        80  0.114756
27     COM0000027        79  0.113322
28     COM0000030        77  0.110453
29     COM0000026        77  0.110453
...           ...       ...       ...
36588  COM0029174         1  0.001434
36589  COM0046614         1  0.001434
36590  COM0014932         1  0.001434
36591  COM0053867         1  0.001434
36592  COM0023223         1  0.001434
36593  COM0028538         1  0.001434
36594  COM0010018         1  0.001434
36595  COM0045507         1  0.001434
36596  COM0050112         1  0.001434
36597  COM0038993         1  0.001434
36598  COM0025318         1  0.001434
36599  COM0053919         1  0.001434
36600  COM0035107         1  0.001434
36601  COM0016749         1  0.001434
36602  COM0026299         1  0.001434
36603  COM0043323         1  0.001434
36604  COM0015302         1  0.001434
36605  COM0035987         1  0.001434
36606  COM0015901         1  0.001434
36607  COM0050651         1  0.001434
36608  COM0032697         1  0.001434
36609  COM0038143         1  0.001434
36610  COM0024425         1  0.001434
36611  COM0045400         1  0.001434
36612  COM0043770         1  0.001434
36613  COM0015611         1  0.001434
36614  COM0041387         1  0.001434
36615  COM0018886         1  0.001434
36616  COM0003650         1  0.001434
36617  COM0039610         1  0.001434

[36618 rows x 3 columns]
      Employer_Code % ratio_conv
30070    COM0045472          100
25578    COM0037349          100
30189    COM0045691          100
24922    COM0036164          100
27393    COM0040691          100
32226    COM0049307          100
18167    COM0024074          100
12280    COM0013926          100
31218    COM0047531          100
30179    COM0045678          100
22937    COM0032607          100
3164     COM0003191          100
29524    COM0044517          100
11027    COM0012367          100
29527    COM0044521          100
4823     COM0004934          100
30718    COM0046618          100
20718    COM0028624          100
26163    COM0038411          100
3777     COM0003833          100
17768    COM0023352          100
17162    COM0022320          100
6393     COM0006669          100
29491    COM0044462          100
28944    COM0043471          100
20623    COM0028448          100
9356     COM0010240          100
14861    COM0018186          100
24870    COM0036083          100
15323    COM0018977          100
...             ...          ...
12584    COM0014310            0
12585    COM0014311            0
12586    COM0014312            0
12587    COM0014313            0
12589    COM0014316            0
12563    COM0014282            0
12590    COM0014318            0
12591    COM0014319            0
12592    COM0014320            0
12593    COM0014321            0
12594    COM0014322            0
12595    COM0014324            0
12581    COM0014306            0
12580    COM0014305            0
12579    COM0014302            0
12578    COM0014301            0
12576    COM0014298            0
12575    COM0014296            0
12574    COM0014294            0
12573    COM0014293            0
12572    COM0014292            0
12571    COM0014291            0
12570    COM0014290            0
12569    COM0014288            0
12568    COM0014287            0
12567    COM0014286            0
12566    COM0014285            0
12565    COM0014284            0
12564    COM0014283            0
36617    COM0057164            0

[36618 rows x 2 columns]
------------------------------------------------------
7. Var: Employer_Category1
Employer_Category1
  Atributo  Cantidad     %Total
0        A     33336  47.818915
1        B     18056  25.900478
2        C     14303  20.516977
3      -99      4018   5.763631
  Employer_Category1 % ratio_conv
3                  C      2.11145
2                  B      1.94949
1                  A      1.08291
0                -99      0.12444
------------------------------------------------------
8. Var: Employer_Category2
Employer_Category2
   Atributo  Cantidad     %Total
0       4.0     57582  82.598654
1     -99.0      4298   6.165278
2       1.0      4258   6.107900
3       2.0      1955   2.804355
4       3.0      1620   2.323813
   Employer_Category2  % ratio_conv
2                 2.0      2.813299
1                 1.0      2.113668
3                 3.0      1.728395
4                 4.0      1.448369
0               -99.0      0.302466
------------------------------------------------------
9. Var: Customer_Existing_Primary_Bank_Code
Customer_Existing_Primary_Bank_Code
   Atributo  Cantidad     %Total
0      B001     14197  20.364925
1      B002     10880  15.606845
2      B003      9515  13.648817
3       -99      9391  13.470945
4      B004      7070  10.141580
5      B005      1920   2.754149
6      B006      1662   2.384060
7      B007      1239   1.777287
8      B008       945   1.355558
9      B009       941   1.349820
10     B010       920   1.319696
11     B012       789   1.131783
12     B013       785   1.126045
13     B011       775   1.111701
14     B014       606   0.869278
15     B015       561   0.804728
16     B016       518   0.743046
17     B017       495   0.710054
18     B018       475   0.681365
19     B019       445   0.638331
20     B020       420   0.602470
21     B021       401   0.575216
22     B022       388   0.556568
23     B023       355   0.509231
24     B024       335   0.480542
25     B025       327   0.469066
26     B027       268   0.384433
27     B026       262   0.375827
28     B028       258   0.370089
29     B029       206   0.295497
30     B030       202   0.289759
31     B031       201   0.288325
32     B033       188   0.269677
33     B032       187   0.268243
34     B034       184   0.263939
35     B035       161   0.230947
36     B038       149   0.213733
37     B036       145   0.207996
38     B037       137   0.196520
39     B039       137   0.196520
40     B040       133   0.190782
41     B041        98   0.140576
42     B042        80   0.114756
43     B043        70   0.100412
44     B044        60   0.086067
45     B046        48   0.068854
46     B045        47   0.067419
47     B047        39   0.055944
48     B048        34   0.048771
49     B049        15   0.021517
50     B050        12   0.017213
51     B054         8   0.011476
52     B051         8   0.011476
53     B052         7   0.010041
54     B053         5   0.007172
55     B056         4   0.005738
56     B055         4   0.005738
57     B057         1   0.001434
   Customer_Existing_Primary_Bank_Code % ratio_conv
50                                B050      8.33333
26                                B026      4.19847
41                                B041      4.08163
39                                B039      3.64964
43                                B043      2.85714
5                                 B005      2.76042
11                                B011      2.70968
47                                B047       2.5641
2                                 B002      2.21507
1                                 B001      2.13425
46                                B046      2.08333
6                                 B006      1.98556
19                                B019      1.79775
16                                B016      1.73745
4                                 B004      1.65488
33                                B033      1.59574
14                                B014      1.48515
23                                B023      1.40845
36                                B036      1.37931
8                                 B008      1.26984
20                                B020      1.19048
32                                B032      1.06952
18                                B018      1.05263
7                                 B007      1.04923
17                                B017       1.0101
31                                B031     0.995025
25                                B025     0.917431
3                                 B003     0.903836
24                                B024     0.895522
12                                B012     0.887199
22                                B022     0.773196
10                                B010      0.76087
15                                B015     0.713012
38                                B038     0.671141
35                                B035     0.621118
34                                B034     0.543478
13                                B013     0.509554
30                                B030      0.49505
29                                B029     0.485437
9                                 B009      0.42508
27                                B027     0.373134
0                                  -99      0.21297
42                                B042            0
40                                B040            0
44                                B044            0
45                                B045            0
37                                B037            0
28                                B028            0
48                                B048            0
49                                B049            0
21                                B021            0
51                                B051            0
52                                B052            0
53                                B053            0
54                                B054            0
55                                B055            0
56                                B056            0
57                                B057            0
------------------------------------------------------
10. Var: Primary_Bank_Type
Primary_Bank_Type
  Atributo  Cantidad     %Total
0        P     39619  56.831581
1        G     20703  29.697474
2      -99      9391  13.470945
  Primary_Bank_Type % ratio_conv
2                 P      2.02933
1                 G     0.946723
0               -99      0.21297
------------------------------------------------------
11. Var: Contacted
Contacted
  Atributo  Cantidad     %Total
0        Y     45275  64.944845
1        N     24438  35.055155
  Contacted % ratio_conv
1         Y      1.87079
0         N     0.707914
------------------------------------------------------
12. Var: Source
Source
   Atributo  Cantidad     %Total
0      S122     30941  44.383401
1      S133     23877  34.250427
2      S159      4474   6.417741
3      S143      3480   4.991895
4      S127      1546   2.217664
5      S137      1400   2.008234
6      S134      1048   1.503306
7      S161       621   0.890795
8      S151       569   0.816204
9      S157       507   0.727268
10     S153       403   0.578084
11     S156       250   0.358613
12     S144       243   0.348572
13     S158       167   0.239554
14     S123        61   0.087502
15     S141        46   0.065985
16     S162        31   0.044468
17     S124        17   0.024386
18     S150         7   0.010041
19     S160         7   0.010041
20     S129         3   0.004303
21     S136         3   0.004303
22     S155         3   0.004303
23     S139         2   0.002869
24     S135         2   0.002869
25     S138         2   0.002869
26     S130         1   0.001434
27     S140         1   0.001434
28     S154         1   0.001434
   Source % ratio_conv
7    S134      3.72137
14   S141      2.17391
15   S143      2.06897
6    S133      1.63337
0    S122       1.4964
3    S127     0.776197
25   S159     0.692892
24   S158     0.598802
23   S157     0.591716
18   S151     0.527241
16   S144     0.411523
27   S161     0.322061
19   S153     0.248139
10   S137    0.0714286
5    S130            0
26   S160            0
22   S156            0
21   S155            0
20   S154            0
17   S150            0
4    S129            0
2    S124            0
1    S123            0
13   S140            0
12   S139            0
11   S138            0
9    S136            0
8    S135            0

28   S162            0
------------------------------------------------------
13. Var: Source_Category
Source_Category
  Atributo  Cantidad     %Total
0        B     29812  42.763903
1        G     26518  38.038816
2        C     11374  16.315465
3        E      1050   1.506175
4        D       497   0.712923
5        F       459   0.658414
6        A         3   0.004303
  Source_Category % ratio_conv
1               B      1.66041
4               E      1.42857
6               G      1.37265
5               F      1.30719
2               C      1.23088
0               A            0
3               D            0
------------------------------------------------------
14. Var: Loan_Period
Loan_Period
   Atributo  Cantidad     %Total
0     -99.0     27709  39.747249
1       5.0     16653  23.887941
2       4.0     12139  17.412821
3       3.0      7059  10.125802
4       2.0      4266   6.119375
5       1.0      1886   2.705378
6       6.0         1   0.001434
   Loan_Period  % ratio_conv
1          1.0      2.226935
3          3.0      2.209945
5          5.0      2.035669
4          4.0      1.911195
2          2.0      1.781528
0        -99.0      0.631564
6          6.0      0.000000
------------------------------------------------------
15. Var: Var1
Var1
   Atributo  Cantidad     %Total
0         0     23308  33.434223
1        10     13420  19.250355
2         2     13363  19.168591
3         7     11948  17.138841
4         4      7674  11.007990
   Var1  % ratio_conv
4  10.0      4.202683
3   7.0      1.958487
2   4.0      0.873078
0   0.0      0.501974
1   2.0      0.284367
------------------------------------------------------
16. Var: Approved
Approved
   Atributo  Cantidad     %Total
0         0     68693  98.536858
1         1      1020   1.463142

ValueError: Shape of passed values is (1, 2), indices imply (2, 2)

In [255]:
train['NAN_COUNTS_temp'] = train.isnull().sum(axis=1)
test['NAN_COUNTS_temp'] = test.isnull().sum(axis=1)

In [256]:
train['NAN_COUNTS'] = np.nan
train['NAN_COUNTS'] = np.nan

In [257]:
train.loc[(train['NAN_COUNTS_temp']==0)|(train['NAN_COUNTS_temp']==1), 'NAN_COUNTS'] = 0
train.loc[(train['NAN_COUNTS_temp']==2)|(train['NAN_COUNTS_temp']==3), 'NAN_COUNTS'] = 1
train.loc[(train['NAN_COUNTS_temp']==4)|(train['NAN_COUNTS_temp']==5), 'NAN_COUNTS'] = 2
train.loc[train['NAN_COUNTS_temp']>=6, 'NAN_COUNTS'] = 3

test.loc[(test['NAN_COUNTS_temp']==0)|(test['NAN_COUNTS_temp']==1), 'NAN_COUNTS'] = 0
test.loc[(test['NAN_COUNTS_temp']==2)|(test['NAN_COUNTS_temp']==3), 'NAN_COUNTS'] = 1
test.loc[(test['NAN_COUNTS_temp']==4)|(test['NAN_COUNTS_temp']==5), 'NAN_COUNTS'] = 2
test.loc[test['NAN_COUNTS_temp']>=6, 'NAN_COUNTS'] = 3

In [329]:
del train['NAN_COUNTS_temp']
del test['NAN_COUNTS_temp']

In [258]:
train['train_test'] = 'train'
test['train_test'] = 'test'
data = pd.concat([train, test], axis = 0).reset_index(drop = True)

### 2.1 Tratamiento Nulos

In [259]:
pd.concat([pd.DataFrame(data.isnull().sum(), columns = ['cantidad']),
           pd.DataFrame(100*data.isnull().sum()/len(data), columns = ['%Total'])], axis = 1)

                                     cantidad     %Total
Approved                                30037  30.112281
City_Category                            1128   1.130827
City_Code                                1128   1.130827
Contacted                                   0   0.000000
Customer_Existing_Primary_Bank_Code     13428  13.461654
DOB                                        18   0.018045
EMI                                     67822  67.991980
Employer_Category1                       5623   5.637093
Employer_Category2                       5993   6.008020
Employer_Code                            5623   5.637093
Existing_EMI                               83   0.083208
Gender                                      0   0.000000
ID                                          0   0.000000
Interest_Rate                           67822  67.991980
Lead_Creation_Date                          0   0.000000
Loan_Amount                             39580  39.679198
Loan_Period                             39580  39.679198
Monthly_Income                              0   0.000000
NAN_COUNTS                                  0   0.000000
NAN_COUNTS_temp                             0   0.000000
Primary_Bank_Type                       13428  13.461654
Source                                      0   0.000000
Source_Category                             0   0.000000
Var1                                        0   0.000000
train_test                                  0   0.000000

In [273]:
temp = pd.concat([pd.DataFrame(data.isnull().sum(), columns = ['cantidad']),
           pd.DataFrame(100*data.isnull().sum()/len(data), columns = ['%Total'])], axis = 1)
temp[temp['cantidad']!=0]

          cantidad     %Total
Approved     30037  30.112281

In [261]:
# City_Category
data['City_Category'].fillna("SIN_INFO", inplace=True)

In [262]:
# City_Code
data['City_Code'].fillna("SIN_INFO", inplace=True)

In [263]:
# Customer_Existing_Primary_Bank_Code
data['Customer_Existing_Primary_Bank_Code'].fillna("B999", inplace=True)

In [264]:
# DOB
data['DOB'].fillna("11/01/82", inplace=True)

In [265]:
# EMI
data['EMI'].fillna(0, inplace=True)

In [266]:
# Interest_Rate
data['Interest_Rate'].fillna(0, inplace=True)

In [267]:
# Employer_Category1
data['Employer_Category1'].fillna('X', inplace=True)

In [268]:
# Employer_Category2
data['Employer_Category2'].fillna(99, inplace=True)

In [269]:
# Employer_Code
data['Employer_Code'].fillna('COM9999999', inplace=True)

In [270]:
# Existing_EMI
data['Existing_EMI'].fillna(data['Existing_EMI'].median(), inplace=True) # median = 0

In [271]:
# Loan_Amount, Loan_Period
data[['Loan_Amount', 'Loan_Period']] = data[['Loan_Amount', 'Loan_Period']].fillna(0)

In [272]:
# Primary_Bank_Type
data['Primary_Bank_Type'].fillna('X', inplace=True)

### Tratamiento de variables fecha

In [319]:
import datetime
from datetime import date
str_format = '%d/%m/%Y'

# DOB_F
temp = pd.DataFrame()
temp['day'],temp['month'],temp['year'] = list(zip(*data['DOB'].apply(lambda x: x.split('/'))))
temp['year'] = temp['year'].apply(lambda x: str(int(x) + 1900))

In [320]:
temp['DOB_F'] = temp.apply(lambda x: x['day']+'/'+x['month']+'/'+x['year'],axis = 1)
data['DOB_F'] = pd.to_datetime(temp['DOB_F'],format = str_format)

In [321]:
# Lead_Creation_Date
temp = pd.DataFrame()
temp['day'],temp['month'],temp['year'] = list(zip(*data['Lead_Creation_Date'].apply(lambda x: x.split('/'))))
temp['year'] = temp['year'].apply(lambda x: str(int(x) + 2000))

In [322]:
temp['Lead_Creation_Date_F'] = temp.apply(lambda x: x['day']+'/'+x['month']+'/'+x['year'],axis = 1)
data['Lead_Creation_Date_F'] = pd.to_datetime(temp['Lead_Creation_Date_F'],format = str_format)

In [323]:
def age(when, on=date(2017,12,31)): # on=None
    if on is None:
        on = datetime.date.today()
    was_earlier = (on.month, on.day) < (when.month, when.day)
    return on.year - when.year - (was_earlier)

In [324]:
data['edad'] = data.apply(lambda x: age(x['DOB_F'],x['Lead_Creation_Date_F']) , axis = 1)

In [325]:
data['codmes_aplica'] = temp.apply(lambda x: int(x['year']+x['month']),axis = 1)

In [326]:
data.head()

,Approved,City_Category,City_Code,Contacted,Customer_Existing_Primary_Bank_Code,DOB,EMI,Employer_Category1,Employer_Category2,Employer_Code,Existing_EMI,Gender,ID,Interest_Rate,Lead_Creation_Date,Loan_Amount,Loan_Period,Monthly_Income,NAN_COUNTS,NAN_COUNTS_temp,Primary_Bank_Type,Source,Source_Category,Var1,train_test,DOB_F,edad,Lead_Creation_Date_F,codmes_aplica
0,0.0,A,C10001,N,B001,23/07/79,0.0,A,4.0,COM0044082,0.0,Female,APPC90493171225,0.00,15/07/16,0.0,0.0,2000.0,2.0,5,P,S122,G,0,train,1979-07-23,36,2016-07-15,201607
1,0.0,A,C10003,Y,B002,07/12/86,953.0,C,1.0,COM0000002,0.0,Male,APPD40611263344,13.25,04/07/16,20000.0,2.0,3500.0,0.0,1,P,S122,G,10,train,1986-12-07,29,2016-07-04,201607
2,0.0,C,C10125,Y,B003,10/12/82,0.0,C,4.0,COM0005267,0.0,Male,APPE70289249423,0.00,19/07/16,45000.0,4.0,2250.0,1.0,3,G,S143,B,0,train,1982-12-10,33,2016-07-19,201607
3,0.0,C,C10477,Y,B003,30/01/89,0.0,A,4.0,COM0004143,0.0,Male,APPF80273865537,0.00,09/07/16,92000.0,5.0,3500.0,1.0,3,G,S143,B,7,train,1989-01-30,27,2016-07-09,201607
4,0.0,A,C10002,Y,B001,19/04/85,0.0,A,4.0,COM0001781,2500.0,Male,APPG60994436641,0.00,20/07/16,50000.0,2.0,10000.0,1.0,3,P,S134,B,10,train,1985-04-19,31,2016-07-20,201607

### 2.2 Revisión Outliers

In [332]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99750 entries, 0 to 99749
Data columns (total 28 columns):
Approved                               69713 non-null float64
City_Category                          99750 non-null object
City_Code                              99750 non-null object
Contacted                              99750 non-null object
Customer_Existing_Primary_Bank_Code    99750 non-null object
DOB                                    99750 non-null object
EMI                                    99750 non-null float64
Employer_Category1                     99750 non-null object
Employer_Category2                     99750 non-null float64
Employer_Code                          99750 non-null object
Existing_EMI                           99750 non-null float64
Gender                                 99750 non-null object
ID                                     99750 non-null object
Interest_Rate                          99750 non-null float64
Lead_Creation_Date                     99750 non-null object
Loan_Amount                            99750 non-null float64
Loan_Period                            99750 non-null float64
Monthly_Income                         99750 non-null float64
NAN_COUNTS                             99750 non-null float64
Primary_Bank_Type                      99750 non-null object
Source                                 99750 non-null object
Source_Category                        99750 non-null object
Var1                                   99750 non-null int64
train_test                             99750 non-null object
DOB_F                                  99750 non-null datetime64[ns]
edad                                   99750 non-null int64
Lead_Creation_Date_F                   99750 non-null datetime64[ns]
codmes_aplica                          99750 non-null int64
dtypes: datetime64[ns](2), float64(9), int64(3), object(14)
memory usage: 21.3+ MB

In [331]:
list(data.columns)

['Approved',
 'City_Category',
 'City_Code',
 'Contacted',
 'Customer_Existing_Primary_Bank_Code',
 'DOB',
 'EMI',
 'Employer_Category1',
 'Employer_Category2',
 'Employer_Code',
 'Existing_EMI',
 'Gender',
 'ID',
 'Interest_Rate',
 'Lead_Creation_Date',
 'Loan_Amount',
 'Loan_Period',
 'Monthly_Income',
 'NAN_COUNTS',
 'Primary_Bank_Type',
 'Source',
 'Source_Category',
 'Var1',
 'train_test',
 'DOB_F',
 'edad',
 'Lead_Creation_Date_F',
 'codmes_aplica']

In [333]:
vars_rev_ouliers = ['EMI',
'Employer_Category2',
'Existing_EMI',
'Interest_Rate',
'Loan_Amount',
'Loan_Period',
'Monthly_Income',
'NAN_COUNTS',
'Var1',
'edad',
'codmes_aplica']

In [334]:
vector_percentiles = [0,1,2.5,5,10,50,90,92.5,95,97.5,99,99.5,100]

In [335]:
cont = 0
for feature in vars_rev_ouliers:
    cont = cont + 1
    print("------------------------------------------------------")
    print(str(cont),". Var: ",feature, sep = "")
    print(pd.concat([pd.DataFrame(vector_percentiles, columns = ['Percentile']),
                     pd.DataFrame(np.nanpercentile(data[[feature]], vector_percentiles), columns = ['Valor'])], axis = 1))

------------------------------------------------------
1. Var: EMI
    Percentile      Valor
0          0.0      0.000
1          1.0      0.000
2          2.5      0.000
3          5.0      0.000
4         10.0      0.000
5         50.0      0.000
6         90.0   1186.000
7         92.5   1339.000
8         95.0   1585.000
9         97.5   2198.275
10        99.0   2983.000
11        99.5   3588.000
12       100.0  13556.000
------------------------------------------------------
2. Var: Employer_Category2
    Percentile  Valor
0          0.0    1.0
1          1.0    1.0
2          2.5    1.0
3          5.0    1.0
4         10.0    3.0
5         50.0    4.0
6         90.0    4.0
7         92.5    4.0
8         95.0   99.0
9         97.5   99.0
10        99.0   99.0
11        99.5   99.0
12       100.0   99.0
------------------------------------------------------
3. Var: Existing_EMI
    Percentile     Valor
0          0.0       0.0
1          1.0       0.0
2          2.5       0.0
3          5.0       0.0
4         10.0       0.0
5         50.0       0.0
6         90.0    1000.0
7         92.5    1300.0
8         95.0    1800.0
9         97.5    2750.0
10        99.0    4000.0
11        99.5    5300.0
12       100.0  545436.5
------------------------------------------------------
4. Var: Interest_Rate
    Percentile  Valor
0          0.0    0.0
1          1.0    0.0
2          2.5    0.0
3          5.0    0.0
4         10.0    0.0
5         50.0    0.0
6         90.0   20.0
7         92.5   20.0
8         95.0   24.5
9         97.5   31.5
10        99.0   33.0
11        99.5   35.5
12       100.0   37.0
------------------------------------------------------
5. Var: Loan_Amount
    Percentile     Valor
0          0.0       0.0
1          1.0       0.0
2          2.5       0.0
3          5.0       0.0
4         10.0       0.0
5         50.0   15000.0
6         90.0   56000.0
7         92.5   70000.0
8         95.0   90000.0
9         97.5  104000.0
10        99.0  150000.0
11        99.5  150000.0
12       100.0  300000.0
------------------------------------------------------
6. Var: Loan_Period
    Percentile  Valor
0          0.0    0.0
1          1.0    0.0
2          2.5    0.0
3          5.0    0.0
4         10.0    0.0
5         50.0    3.0
6         90.0    5.0
7         92.5    5.0
8         95.0    5.0
9         97.5    5.0
10        99.0    5.0
11        99.5    5.0
12       100.0    6.0
------------------------------------------------------
7. Var: Monthly_Income
    Percentile         Valor
0          0.0  0.000000e+00
1          1.0  3.183170e+02
2          2.5  8.000000e+02
3          5.0  1.000000e+03
4         10.0  1.200000e+03
5         50.0  2.500000e+03
6         90.0  6.200000e+03
7         92.5  7.500000e+03
8         95.0  9.500000e+03
9         97.5  1.400000e+04
10        99.0  2.500000e+04
11        99.5  4.000000e+04
12       100.0  3.838384e+07
------------------------------------------------------
8. Var: NAN_COUNTS
    Percentile  Valor
0          0.0    0.0
1          1.0    0.0
2          2.5    0.0
3          5.0    0.0
4         10.0    0.0
5         50.0    1.0
6         90.0    3.0
7         92.5    3.0
8         95.0    3.0
9         97.5    3.0
10        99.0    3.0
11        99.5    3.0
12       100.0    3.0
------------------------------------------------------
9. Var: Var1
    Percentile  Valor
0          0.0    0.0
1          1.0    0.0
2          2.5    0.0
3          5.0    0.0
4         10.0    0.0
5         50.0    2.0
6         90.0   10.0
7         92.5   10.0
8         95.0   10.0
9         97.5   10.0
10        99.0   10.0
11        99.5   10.0
12       100.0   10.0
------------------------------------------------------
10. Var: edad
    Percentile  Valor
0          0.0   17.0
1          1.0   20.0
2          2.5   21.0
3          5.0   22.0
4         10.0   23.0
5         50.0   29.0
6         90.0   40.0
7         92.5   42.0
8         95.0   45.0
9         97.5   50.0
10        99.0   55.0
11        99.5   57.0
12       100.0   86.0
------------------------------------------------------
11. Var: codmes_aplica
    Percentile     Valor
0          0.0  201607.0
1          1.0  201607.0
2          2.5  201607.0
3          5.0  201607.0
4         10.0  201607.0
5         50.0  201608.0
6         90.0  201609.0
7         92.5  201609.0
8         95.0  201609.0
9         97.5  201609.0
10        99.0  201609.0
11        99.5  201609.0
12       100.0  201609.0

In [336]:
data.loc[data['EMI']>3589,'EMI'] = 3599
data.loc[data['Existing_EMI']>5301,'Existing_EMI'] = 5399
data.loc[data['Loan_Amount']>104001,'Loan_Amount'] = 104999
data.loc[data['Monthly_Income']>14001,'Monthly_Income'] = 14999
data.loc[data['edad']>57,'edad'] = 59

In [338]:
data.head()

,Approved,City_Category,City_Code,Contacted,Customer_Existing_Primary_Bank_Code,DOB,EMI,Employer_Category1,Employer_Category2,Employer_Code,Existing_EMI,Gender,ID,Interest_Rate,Lead_Creation_Date,Loan_Amount,Loan_Period,Monthly_Income,NAN_COUNTS,Primary_Bank_Type,Source,Source_Category,Var1,train_test,DOB_F,edad,Lead_Creation_Date_F,codmes_aplica
0,0.0,A,C10001,N,B001,23/07/79,0.0,A,4.0,COM0044082,0.0,Female,APPC90493171225,0.00,15/07/16,0.0,0.0,2000.0,2.0,P,S122,G,0,train,1979-07-23,36,2016-07-15,201607
1,0.0,A,C10003,Y,B002,07/12/86,953.0,C,1.0,COM0000002,0.0,Male,APPD40611263344,13.25,04/07/16,20000.0,2.0,3500.0,0.0,P,S122,G,10,train,1986-12-07,29,2016-07-04,201607
2,0.0,C,C10125,Y,B003,10/12/82,0.0,C,4.0,COM0005267,0.0,Male,APPE70289249423,0.00,19/07/16,45000.0,4.0,2250.0,1.0,G,S143,B,0,train,1982-12-10,33,2016-07-19,201607
3,0.0,C,C10477,Y,B003,30/01/89,0.0,A,4.0,COM0004143,0.0,Male,APPF80273865537,0.00,09/07/16,92000.0,5.0,3500.0,1.0,G,S143,B,7,train,1989-01-30,27,2016-07-09,201607
4,0.0,A,C10002,Y,B001,19/04/85,0.0,A,4.0,COM0001781,2500.0,Male,APPG60994436641,0.00,20/07/16,50000.0,2.0,10000.0,1.0,P,S134,B,10,train,1985-04-19,31,2016-07-20,201607

In [339]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99750 entries, 0 to 99749
Data columns (total 28 columns):
Approved                               69713 non-null float64
City_Category                          99750 non-null object
City_Code                              99750 non-null object
Contacted                              99750 non-null object
Customer_Existing_Primary_Bank_Code    99750 non-null object
DOB                                    99750 non-null object
EMI                                    99750 non-null float64
Employer_Category1                     99750 non-null object
Employer_Category2                     99750 non-null float64
Employer_Code                          99750 non-null object
Existing_EMI                           99750 non-null float64
Gender                                 99750 non-null object
ID                                     99750 non-null object
Interest_Rate                          99750 non-null float64
Lead_Creation_Date                     99750 non-null object
Loan_Amount                            99750 non-null float64
Loan_Period                            99750 non-null float64
Monthly_Income                         99750 non-null float64
NAN_COUNTS                             99750 non-null float64
Primary_Bank_Type                      99750 non-null object
Source                                 99750 non-null object
Source_Category                        99750 non-null object
Var1                                   99750 non-null int64
train_test                             99750 non-null object
DOB_F                                  99750 non-null datetime64[ns]
edad                                   99750 non-null int64
Lead_Creation_Date_F                   99750 non-null datetime64[ns]
codmes_aplica                          99750 non-null int64
dtypes: datetime64[ns](2), float64(9), int64(3), object(14)
memory usage: 21.3+ MB

### 2.3 Reemplazar valores

In [363]:
# Ordenado según % Frecuencia y % Ratio de Conversión
data_imp_temp = data[data['train_test']=='train'].copy()
cont = 0
for y in vars_revision_group:
    cont = cont + 1
    print("------------------------------------------------------")
    print(str(cont),". Var: ",y, sep = "")
    print(y)
    print(pd.concat([pd.DataFrame(data_imp_temp[:][y].value_counts().index, columns = ['Atributo']),
           pd.DataFrame(data_imp_temp[:][y].value_counts().values, columns = ['Cantidad']),
           pd.DataFrame(100*data_imp_temp[:][y].value_counts().values/len(data_imp_temp), columns = ['%Total'])], axis = 1))
    temp = pd.DataFrame(np.array(data_imp_temp.groupby(y, as_index = False, axis = 0)[TARGET].mean()), 
                         columns = [y,"% ratio_conv"])
    temp["% ratio_conv"] = temp["% ratio_conv"]*100
    temp = temp.sort_values(by = ["% ratio_conv"], ascending = [False])
    print(temp)

------------------------------------------------------
1. Var: Gender
Gender
  Atributo  Cantidad    %Total
0     Male     39949  57.30495
1   Female     29764  42.69505
   Gender % ratio_conv
1    Male      1.93246
0  Female     0.833221
------------------------------------------------------
2. Var: DOB
DOB
       Atributo  Cantidad    %Total
0      11/01/82       268  0.384433
1      04/03/71       183  0.262505
2      03/03/71       121  0.173569
3      03/03/91       103  0.147749
4      03/03/81        88  0.126232
5      03/03/87        83  0.119060
6      03/03/90        78  0.111887
7      03/03/86        77  0.110453
8      03/03/89        75  0.107584
9      01/08/86        67  0.096108
10     03/03/92        59  0.084633
11     03/03/88        59  0.084633
12     01/08/87        57  0.081764
13     11/01/90        53  0.076026
14     03/03/85        52  0.074592
15     02/08/89        50  0.071723
16     31/08/87        49  0.070288
17     31/08/90        48  0.068854
18     01/09/86        47  0.067419
19     31/08/88        47  0.067419
20     15/07/91        47  0.067419
21     01/08/91        46  0.065985
22     10/09/89        46  0.065985
23     10/08/87        46  0.065985
24     05/08/90        45  0.064550
25     01/09/89        45  0.064550
26     31/08/91        44  0.063116
27     02/08/85        43  0.061681
28     01/08/90        43  0.061681
29     01/08/88        41  0.058813
...         ...       ...       ...
10729  10/09/74         1  0.001434
10730  11/02/70         1  0.001434
10731  19/12/77         1  0.001434
10732  30/12/78         1  0.001434
10733  03/03/54         1  0.001434
10734  03/02/97         1  0.001434
10735  22/06/73         1  0.001434
10736  01/04/98         1  0.001434
10737  05/10/71         1  0.001434
10738  21/08/76         1  0.001434
10739  02/07/98         1  0.001434
10740  29/07/75         1  0.001434
10741  26/07/69         1  0.001434
10742  05/08/74         1  0.001434
10743  18/03/97         1  0.001434
10744  13/06/63         1  0.001434
10745  11/11/68         1  0.001434
10746  21/08/79         1  0.001434
10747  22/10/97         1  0.001434
10748  07/07/53         1  0.001434
10749  06/08/73         1  0.001434
10750  23/06/73         1  0.001434
10751  13/10/72         1  0.001434
10752  30/10/77         1  0.001434
10753  21/09/65         1  0.001434
10754  24/05/66         1  0.001434
10755  05/03/75         1  0.001434
10756  22/12/78         1  0.001434
10757  21/03/96         1  0.001434
10758  18/06/67         1  0.001434

[10759 rows x 3 columns]
            DOB % ratio_conv
6316   18/06/67          100
9598   28/01/76          100
1311   04/06/65          100
7964   23/02/66          100
2404   07/06/74          100
8847   25/09/72          100
67     01/03/80          100
2438   07/07/76          100
6676   19/06/70          100
1369   04/08/64          100
9531   27/10/81          100
6680   19/06/75          100
7242   21/01/72          100
9168   26/09/60          100
7587   22/01/74          100
7940   23/01/75          100
9177   26/09/73          100
2583   07/12/74          100
122    01/05/65          100
8075   23/06/59          100
10239  30/01/61          100
6833   19/11/83          100
3352   10/03/68          100
6846   19/12/70          100
1885   06/01/73          100
10580  31/03/64          100
1624   05/05/61          100
2831   08/09/73          100
4271   12/09/73          100
5401   15/11/61          100
...         ...          ...
3794   11/05/80            0
3796   11/05/82            0
3768   11/04/86            0
3797   11/05/83            0
3798   11/05/84            0
3799   11/05/85            0
3801   11/05/87            0
3803   11/05/89            0
3804   11/05/90            0
3805   11/05/91            0
3787   11/05/72            0
3786   11/05/69            0
3785   11/05/68            0
3784   11/05/67            0
3769   11/04/87            0
3770   11/04/88            0
3771   11/04/89            0
3772   11/04/90            0
3773   11/04/91            0
3774   11/04/92            0
3775   11/04/93            0
3776   11/04/95            0
3777   11/04/96            0
3778   11/05/58            0
3779   11/05/59            0
3780   11/05/60            0
3781   11/05/63            0
3782   11/05/64            0
3783   11/05/66            0
10758  31/12/98            0

[10759 rows x 2 columns]
------------------------------------------------------
3. Var: Lead_Creation_Date
Lead_Creation_Date
    Atributo  Cantidad    %Total
0   02/09/16      1838  2.636524
1   22/09/16      1629  2.336723
2   29/09/16      1038  1.488962
3   26/09/16      1036  1.486093
4   30/09/16      1028  1.474617
5   28/09/16      1001  1.435887
6   20/09/16       974  1.397157
7   19/09/16       969  1.389985
8   17/09/16       965  1.384247
9   22/08/16       963  1.381378
10  14/09/16       962  1.379943
11  21/09/16       954  1.368468
12  26/07/16       951  1.364165
13  23/08/16       948  1.359861
14  05/09/16       927  1.329738
15  27/09/16       927  1.329738
16  17/08/16       910  1.305352
17  05/07/16       910  1.305352
18  04/08/16       900  1.291007
19  04/07/16       893  1.280966
20  03/08/16       884  1.268056
21  13/07/16       879  1.260884
22  29/08/16       871  1.249408
23  27/08/16       858  1.230760
24  27/07/16       857  1.229326
25  18/08/16       844  1.210678
26  09/08/16       842  1.207809
27  15/09/16       839  1.203506
28  25/07/16       837  1.200637
29  18/07/16       837  1.200637
..       ...       ...       ...
62  08/07/16       682  0.978297
63  12/09/16       677  0.971124
64  24/08/16       653  0.936698
65  20/08/16       652  0.935263
66  30/07/16       643  0.922353
67  05/08/16       639  0.916615
68  09/09/16       629  0.902271
69  09/07/16       595  0.853499
70  13/08/16       593  0.850630
71  02/07/16       590  0.846327
72  11/08/16       583  0.836286
73  19/07/16       579  0.830548
74  06/08/16       573  0.821941
75  25/08/16       558  0.800425
76  23/07/16       546  0.783211
77  25/09/16       532  0.763129
78  28/08/16       529  0.758825
79  21/08/16       529  0.758825
80  04/09/16       505  0.724399
81  10/09/16       491  0.704316
82  18/09/16       483  0.692841
83  01/07/16       479  0.687103
84  17/07/16       469  0.672758
85  07/08/16       449  0.644069
86  03/07/16       425  0.609642
87  24/07/16       406  0.582388
88  11/09/16       394  0.565174
89  31/07/16       390  0.559437
90  10/07/16       364  0.522141
91  14/08/16       302  0.433205

[92 rows x 3 columns]
   Lead_Creation_Date % ratio_conv
29           10/09/16      2.85132
35           12/09/16      2.65879
27           10/07/16      2.47253
8            03/09/16      2.44957
91           31/08/16      2.38411
6            03/07/16      2.35294
13           05/08/16      2.34742
57           20/07/16       2.2756
61           21/08/16      2.26843
18           07/07/16      2.11268
38           13/09/16       2.1025
43           15/08/16      2.04918
72           25/07/16      2.03106
37           13/08/16      2.02361
10           04/08/16            2
58           20/08/16      1.99387
11           04/09/16       1.9802
41           14/09/16      1.97505
73           25/08/16      1.97133
20           07/09/16      1.92771
55           19/08/16      1.90217
54           19/07/16      1.89983
82           28/08/16      1.89036
24           09/07/16      1.84874
85           29/08/16      1.83697
30           11/07/16       1.8226
76           26/08/16      1.82039
81           28/07/16      1.80412
44           15/09/16      1.78784
64           22/08/16      1.76532
..                ...          ...
15           06/07/16      1.23153
45           16/07/16      1.22449
39           14/07/16      1.16883
4            02/08/16       1.1658
2            01/09/16      1.14943
46           16/08/16      1.14613
84           29/07/16      1.14449
47           16/09/16      1.12641
66           23/07/16       1.0989
52           18/08/16      1.06635
75           26/07/16      1.05152
79           27/08/16      1.04895
68           23/09/16      1.04439
40           14/08/16     0.993377
86           29/09/16     0.963391
63           22/07/16     0.952381
31           11/08/16     0.857633
48           17/07/16     0.852878
3            02/07/16     0.847458
53           18/09/16     0.828157
59           20/09/16     0.821355
80           27/09/16     0.755124
65           22/09/16     0.736648
5            02/09/16     0.707291
78           27/07/16     0.700117
50           17/09/16     0.621762
74           25/09/16      0.56391
90           31/07/16     0.512821
32           11/09/16     0.507614
69           24/07/16     0.246305

[92 rows x 2 columns]
------------------------------------------------------
4. Var: City_Code
City_Code
     Atributo  Cantidad     %Total
0      C10001     10007  14.354568
1      C10002      8716  12.502690
2      C10003      8666  12.430967
3      C10004      5843   8.381507
4      C10005      5564   7.981295
5      C10006      4203   6.029005
6      C10007      2301   3.300676
7      C10008      1450   2.079956
8      C10009      1056   1.514782
9      C10010       962   1.379943
10     C10011       930   1.334041
11   SIN_INFO       814   1.167644
12     C10012       717   1.028503
13     C10013       686   0.984035
14     C10014       634   0.909443
15     C10015       603   0.864975
16     C10016       592   0.849196
17     C10017       488   0.700013
18     C10018       475   0.681365
19     C10019       472   0.677062
20     C10020       446   0.639766
21     C10021       414   0.593863
22     C10022       398   0.570912
23     C10024       358   0.513534
24     C10023       351   0.503493
25     C10025       300   0.430336
26     C10026       298   0.427467
27     C10027       286   0.410253
28     C10028       255   0.365785
29     C10029       232   0.332793
..        ...       ...        ...
649    C10689         1   0.001434
650    C10676         1   0.001434
651    C10665         1   0.001434
652    C10673         1   0.001434
653    C10617         1   0.001434
654    C10474         1   0.001434
655    C10712         1   0.001434
656    C10644         1   0.001434
657    C10542         1   0.001434
658    C10700         1   0.001434
659    C10715         1   0.001434
660    C10596         1   0.001434
661    C10708         1   0.001434
662    C10574         1   0.001434
663    C10668         1   0.001434
664    C10651         1   0.001434
665    C10635         1   0.001434
666    C10695         1   0.001434
667    C10495         1   0.001434
668    C10435         1   0.001434
669    C10531         1   0.001434
670    C10692         1   0.001434
671    C10544         1   0.001434
672    C10481         1   0.001434
673    C10600         1   0.001434
674    C10677         1   0.001434
675    C10702         1   0.001434
676    C10667         1   0.001434
677    C10446         1   0.001434
678    C10713         1   0.001434

[679 rows x 3 columns]
    City_Code % ratio_conv
463    C10464           50
624    C10638           50
419    C10420           25
431    C10432           25
276    C10277           25
509    C10510           25
410    C10411         12.5
299    C10300         12.5
248    C10249      9.09091
246    C10247      7.69231
237    C10238      7.69231
216    C10217      7.14286
194    C10195      6.66667
210    C10211         6.25
108    C10109      5.71429
202    C10203       4.7619
209    C10210       4.7619
62     C10063      4.28571
160    C10161      4.16667
86     C10087      4.08163
55     C10056            4
123    C10124            4
126    C10127      3.84615
138    C10139      3.22581
61     C10062       3.0303
129    C10130      2.94118
47     C10048      2.88462
34     C10035       2.7933
56     C10057      2.73973
17     C10018      2.73684
..        ...          ...
296    C10297            0
297    C10298            0
298    C10299            0
51     C10052            0
300    C10301            0
301    C10302            0
302    C10303            0
303    C10304            0
304    C10305            0
305    C10306            0
306    C10307            0
291    C10292            0
290    C10291            0
289    C10290            0
280    C10281            0
274    C10275            0
275    C10276            0
53     C10054            0
277    C10278            0
278    C10279            0
279    C10280            0
281    C10282            0
288    C10289            0
282    C10283            0
283    C10284            0
284    C10285            0
285    C10286            0
286    C10287            0
287    C10288            0
339    C10340            0

[679 rows x 2 columns]
------------------------------------------------------
5. Var: City_Category
City_Category
   Atributo  Cantidad     %Total
0         A     49885  71.557672
1         C     11694  16.774490
2         B      7320  10.500194
3  SIN_INFO       814   1.167644
  City_Category % ratio_conv
0             A      1.65581
1             B       1.3388
2             C     0.803831
3      SIN_INFO       0.2457

------------------------------------------------------
6. Var: Employer_Code
Employer_Code
         Atributo  Cantidad    %Total
0      COM9999999      4018  5.763631
1      COM0000002       457  0.655545
2      COM0000003       324  0.464763
3      COM0000004       262  0.375827
4      COM0000005       243  0.348572
5      COM0000006       195  0.279718
6      COM0000007       189  0.271112
7      COM0000009       153  0.219471
8      COM0000010       145  0.207996
9      COM0000013       133  0.190782
10     COM0000012       132  0.189348
11     COM0000011       131  0.187913
12     COM0000014       126  0.180741
13     COM0000008       121  0.173569
14     COM0000015       118  0.169265
15     COM0000017       115  0.164962
16     COM0000021       107  0.153486
17     COM0000018       107  0.153486
18     COM0000019       102  0.146314
19     COM0000024        98  0.140576
20     COM0000023        95  0.136273
21     COM0000020        94  0.134839
22     COM0000016        93  0.133404
23     COM0000028        91  0.130535
24     COM0000022        87  0.124797
25     COM0000031        80  0.114756
26     COM0000025        80  0.114756
27     COM0000027        79  0.113322
28     COM0000030        77  0.110453
29     COM0000026        77  0.110453
...           ...       ...       ...
36588  COM0033499         1  0.001434
36589  COM0046614         1  0.001434
36590  COM0014932         1  0.001434
36591  COM0028538         1  0.001434
36592  COM0015302         1  0.001434
36593  COM0010018         1  0.001434
36594  COM0030473         1  0.001434
36595  COM0050112         1  0.001434
36596  COM0038993         1  0.001434
36597  COM0025318         1  0.001434
36598  COM0053919         1  0.001434
36599  COM0035107         1  0.001434
36600  COM0016749         1  0.001434
36601  COM0045507         1  0.001434
36602  COM0043323         1  0.001434
36603  COM0023223         1  0.001434
36604  COM0015901         1  0.001434
36605  COM0035987         1  0.001434
36606  COM0050651         1  0.001434
36607  COM0032697         1  0.001434
36608  COM0038143         1  0.001434
36609  COM0024425         1  0.001434
36610  COM0026299         1  0.001434
36611  COM0045400         1  0.001434
36612  COM0043770         1  0.001434
36613  COM0015611         1  0.001434
36614  COM0041387         1  0.001434
36615  COM0018886         1  0.001434
36616  COM0003650         1  0.001434
36617  COM0039610         1  0.001434

[36618 rows x 3 columns]
      Employer_Code % ratio_conv
22192    COM0031251          100
23175    COM0033034          100
22565    COM0031928          100
22608    COM0032009          100
22936    COM0032607          100
22962    COM0032651          100
23081    COM0032862          100
23126    COM0032930          100
23139    COM0032965          100
23141    COM0032968          100
23153    COM0032990          100
23237    COM0033142          100
20498    COM0028218          100
23252    COM0033170          100
23292    COM0033243          100
23385    COM0033412          100
23388    COM0033420          100
23440    COM0033492          100
23703    COM0033967          100
23777    COM0034108          100
23905    COM0034353          100
23955    COM0034445          100
22509    COM0031817          100
22306    COM0031452          100
7052     COM0007390          100
22178    COM0031232          100
20549    COM0028320          100
20622    COM0028448          100
20668    COM0028537          100
20717    COM0028624          100
...             ...          ...
12794    COM0014558            0
12793    COM0014557            0
12792    COM0014556            0
12791    COM0014555            0
12790    COM0014554            0
12789    COM0014553            0
12788    COM0014552            0
12787    COM0014550            0
12786    COM0014549            0
12785    COM0014548            0
12784    COM0014547            0
12783    COM0014546            0
12782    COM0014545            0
12780    COM0014542            0
12765    COM0014525            0
12779    COM0014541            0
12778    COM0014540            0
12777    COM0014539            0
12776    COM0014538            0
12775    COM0014537            0
12774    COM0014536            0
12773    COM0014535            0
12772    COM0014534            0
12771    COM0014533            0
12770    COM0014531            0
12769    COM0014530            0
12768    COM0014529            0
12767    COM0014528            0
410      COM0000412            0
18309    COM0024334            0

[36618 rows x 2 columns]
------------------------------------------------------
7. Var: Employer_Category1
Employer_Category1
  Atributo  Cantidad     %Total
0        A     33336  47.818915
1        B     18056  25.900478
2        C     14303  20.516977
3        X      4018   5.763631
  Employer_Category1 % ratio_conv
2                  C      2.11145
1                  B      1.94949
0                  A      1.08291
3                  X      0.12444
------------------------------------------------------
8. Var: Employer_Category2
Employer_Category2
   Atributo  Cantidad     %Total
0       4.0     57582  82.598654
1      99.0      4298   6.165278
2       1.0      4258   6.107900
3       2.0      1955   2.804355
4       3.0      1620   2.323813
   Employer_Category2  % ratio_conv
1                 2.0      2.813299
0                 1.0      2.113668
2                 3.0      1.728395
3                 4.0      1.448369
4                99.0      0.302466
------------------------------------------------------
9. Var: Customer_Existing_Primary_Bank_Code
Customer_Existing_Primary_Bank_Code
   Atributo  Cantidad     %Total
0      B001     14197  20.364925
1      B002     10880  15.606845
2      B003      9515  13.648817
3      B999      9391  13.470945
4      B004      7070  10.141580
5      B005      1920   2.754149
6      B006      1662   2.384060
7      B007      1239   1.777287
8      B008       945   1.355558
9      B009       941   1.349820
10     B010       920   1.319696
11     B012       789   1.131783
12     B013       785   1.126045
13     B011       775   1.111701
14     B014       606   0.869278
15     B015       561   0.804728
16     B016       518   0.743046
17     B017       495   0.710054
18     B018       475   0.681365
19     B019       445   0.638331
20     B020       420   0.602470
21     B021       401   0.575216
22     B022       388   0.556568
23     B023       355   0.509231
24     B024       335   0.480542
25     B025       327   0.469066
26     B027       268   0.384433
27     B026       262   0.375827
28     B028       258   0.370089
29     B029       206   0.295497
30     B030       202   0.289759
31     B031       201   0.288325
32     B033       188   0.269677
33     B032       187   0.268243
34     B034       184   0.263939
35     B035       161   0.230947
36     B038       149   0.213733
37     B036       145   0.207996
38     B037       137   0.196520
39     B039       137   0.196520
40     B040       133   0.190782
41     B041        98   0.140576
42     B042        80   0.114756
43     B043        70   0.100412
44     B044        60   0.086067
45     B046        48   0.068854
46     B045        47   0.067419
47     B047        39   0.055944
48     B048        34   0.048771
49     B049        15   0.021517
50     B050        12   0.017213
51     B054         8   0.011476
52     B051         8   0.011476
53     B052         7   0.010041
54     B053         5   0.007172
55     B055         4   0.005738
56     B056         4   0.005738
57     B057         1   0.001434
   Customer_Existing_Primary_Bank_Code % ratio_conv
49                                B050      8.33333
25                                B026      4.19847
40                                B041      4.08163
38                                B039      3.64964
42                                B043      2.85714
4                                 B005      2.76042
10                                B011      2.70968
46                                B047       2.5641
1                                 B002      2.21507
0                                 B001      2.13425
45                                B046      2.08333
5                                 B006      1.98556
18                                B019      1.79775
15                                B016      1.73745
3                                 B004      1.65488
32                                B033      1.59574
13                                B014      1.48515
22                                B023      1.40845
35                                B036      1.37931
7                                 B008      1.26984
19                                B020      1.19048
31                                B032      1.06952
17                                B018      1.05263
6                                 B007      1.04923
16                                B017       1.0101
30                                B031     0.995025
24                                B025     0.917431
2                                 B003     0.903836
23                                B024     0.895522
11                                B012     0.887199
21                                B022     0.773196
9                                 B010      0.76087
14                                B015     0.713012
37                                B038     0.671141
34                                B035     0.621118
33                                B034     0.543478
12                                B013     0.509554
29                                B030      0.49505
28                                B029     0.485437
8                                 B009      0.42508
26                                B027     0.373134
57                                B999      0.21297
56                                B057            0
55                                B056            0
54                                B055            0
53                                B054            0
52                                B053            0
51                                B052            0
50                                B051            0
36                                B037            0
39                                B040            0
47                                B048            0
20                                B021            0
44                                B045            0
43                                B044            0
27                                B028            0
41                                B042            0
48                                B049            0
------------------------------------------------------
10. Var: Primary_Bank_Type
Primary_Bank_Type
  Atributo  Cantidad     %Total
0        P     39619  56.831581
1        G     20703  29.697474
2        X      9391  13.470945
  Primary_Bank_Type % ratio_conv
1                 P      2.02933
0                 G     0.946723
2                 X      0.21297
------------------------------------------------------
11. Var: Contacted
Contacted
  Atributo  Cantidad     %Total
0        Y     45275  64.944845
1        N     24438  35.055155
  Contacted % ratio_conv
1         Y      1.87079
0         N     0.707914
------------------------------------------------------
12. Var: Source
Source
   Atributo  Cantidad     %Total
0      S122     30941  44.383401
1      S133     23877  34.250427
2      S159      4474   6.417741
3      S143      3480   4.991895
4      S127      1546   2.217664
5      S137      1400   2.008234
6      S134      1048   1.503306
7      S161       621   0.890795
8      S151       569   0.816204
9      S157       507   0.727268
10     S153       403   0.578084
11     S156       250   0.358613
12     S144       243   0.348572
13     S158       167   0.239554
14     S123        61   0.087502
15     S141        46   0.065985
16     S162        31   0.044468
17     S124        17   0.024386
18     S150         7   0.010041
19     S160         7   0.010041
20     S129         3   0.004303
21     S136         3   0.004303
22     S155         3   0.004303
23     S139         2   0.002869
24     S135         2   0.002869
25     S138         2   0.002869
26     S130         1   0.001434
27     S140         1   0.001434
28     S154         1   0.001434
   Source % ratio_conv
7    S134      3.72137
14   S141      2.17391
15   S143      2.06897
6    S133      1.63337
0    S122       1.4964
3    S127     0.776197
25   S159     0.692892
24   S158     0.598802
23   S157     0.591716
18   S151     0.527241
16   S144     0.411523
27   S161     0.322061
19   S153     0.248139
10   S137    0.0714286
5    S130            0
26   S160            0
22   S156            0
21   S155            0
20   S154            0
17   S150            0
4    S129            0
2    S124            0
1    S123            0
13   S140            0
12   S139            0
11   S138            0
9    S136            0
8    S135            0
28   S162            0

------------------------------------------------------
13. Var: Source_Category
Source_Category
  Atributo  Cantidad     %Total
0        B     29812  42.763903
1        G     26518  38.038816
2        C     11374  16.315465
3        E      1050   1.506175
4        D       497   0.712923
5        F       459   0.658414
6        A         3   0.004303
  Source_Category % ratio_conv
1               B      1.66041
4               E      1.42857
6               G      1.37265
5               F      1.30719
2               C      1.23088
0               A            0
3               D            0
------------------------------------------------------
14. Var: Loan_Period
Loan_Period
   Atributo  Cantidad     %Total
0       0.0     27709  39.747249
1       5.0     16653  23.887941
2       4.0     12139  17.412821
3       3.0      7059  10.125802
4       2.0      4266   6.119375
5       1.0      1886   2.705378
6       6.0         1   0.001434
   Loan_Period  % ratio_conv
1          1.0      2.226935
3          3.0      2.209945
5          5.0      2.035669
4          4.0      1.911195
2          2.0      1.781528
0          0.0      0.631564
6          6.0      0.000000
------------------------------------------------------
15. Var: Var1
Var1
   Atributo  Cantidad     %Total
0         0     23308  33.434223
1        10     13420  19.250355
2         2     13363  19.168591
3         7     11948  17.138841
4         4      7674  11.007990
   Var1  % ratio_conv
4  10.0      4.202683
3   7.0      1.958487
2   4.0      0.873078
0   0.0      0.501974
1   2.0      0.284367

In [411]:
data2 = data.copy()

In [412]:
del(data2['DOB'])
del(data2['ID'])
del(data2['Lead_Creation_Date'])
del(data2['DOB_F'])
del(data2['Lead_Creation_Date_F'])

In [413]:
# Gender
dicc_temp = {'Male':1 , 'Female':0}
data2['Gender'] = data2[:]['Gender'].map(dicc_temp)

In [414]:
# City_Category
temp_dummies = pd.get_dummies(data2[:]['City_Category'], prefix = 'City_Category')
data2 = pd.concat([data2, temp_dummies], axis = 1)

del(data2['City_Category'])

In [415]:
# City_Code
feature = 'City_Code'
data2.loc[(data2[feature] != 'C10001') &
          (data2[feature] != 'C10002') &
          (data2[feature] != 'C10003') &
          (data2[feature] != 'C10004') &
          (data2[feature] != 'C10005') &
          (data2[feature] != 'C10006') &
          (data2[feature] != 'C10007') &
          (data2[feature] != 'C10008'), feature] = 'OTROS'

temp_dummies = pd.get_dummies(data2[:][feature], prefix = feature)
data2 = pd.concat([data2, temp_dummies], axis = 1)

del(data2[feature])

In [416]:
# Employer_Code
data2['Employer_Code_FlagNulo'] = 0
data2.loc[data2['Employer_Code']=='COM9999999','Employer_Code_FlagNulo'] = 1

del(data2['Employer_Code'])

In [417]:
# Employer_Category1
temp_dummies = pd.get_dummies(data2[:]['Employer_Category1'], prefix = 'Employer_Category1')
data2 = pd.concat([data2, temp_dummies], axis = 1)

del(data2['Employer_Category1'])

In [418]:
# City_Code
feature = 'Customer_Existing_Primary_Bank_Code'
data2.loc[(data2[feature] != 'B001') &
          (data2[feature] != 'B002') &
          (data2[feature] != 'B003') &
          (data2[feature] != 'B999') &
          (data2[feature] != 'B004') &
          (data2[feature] != 'B005') &
          (data2[feature] != 'B006'), feature] = 'OTROS'

temp_dummies = pd.get_dummies(data2[:][feature], prefix = feature)
data2 = pd.concat([data2, temp_dummies], axis = 1)

del(data2[feature])

In [419]:
# Primary_Bank_Type
temp_dummies = pd.get_dummies(data2[:]['Primary_Bank_Type'], prefix = 'Primary_Bank_Type')
data2 = pd.concat([data2, temp_dummies], axis = 1)

del(data2['Primary_Bank_Type'])

In [420]:
# Contacted
dicc_temp = {'Y':1 , 'N':0}
data2['Contacted'] = data2[:]['Contacted'].map(dicc_temp)

In [421]:
# City_Code
feature = 'Source'
data2.loc[(data2[feature] != 'S122') &
          (data2[feature] != 'S133') &
          (data2[feature] != 'S159') &
          (data2[feature] != 'S143') &
          (data2[feature] != 'S127') &
          (data2[feature] != 'S137'), feature] = 'OTROS'

temp_dummies = pd.get_dummies(data2[:][feature], prefix = feature)
data2 = pd.concat([data2, temp_dummies], axis = 1)

del(data2[feature])

In [422]:
# Source_Category
feature = 'Source_Category'
data2.loc[(data2[feature] != 'B') &
          (data2[feature] != 'G') &
          (data2[feature] != 'C') &
          (data2[feature] != 'E'), feature] = 'OTROS'

temp_dummies = pd.get_dummies(data2[:][feature], prefix = feature)
data2 = pd.concat([data2, temp_dummies], axis = 1)

del(data2[feature])

In [423]:
data2.head()

,Approved,Contacted,EMI,Employer_Category2,Existing_EMI,Gender,Interest_Rate,Loan_Amount,Loan_Period,Monthly_Income,NAN_COUNTS,Var1,train_test,edad,codmes_aplica,City_Category_A,City_Category_B,City_Category_C,City_Category_SIN_INFO,City_Code_C10001,City_Code_C10002,City_Code_C10003,City_Code_C10004,City_Code_C10005,City_Code_C10006,City_Code_C10007,City_Code_C10008,City_Code_OTROS,Employer_Code_FlagNulo,Employer_Category1_A,Employer_Category1_B,Employer_Category1_C,Employer_Category1_X,Customer_Existing_Primary_Bank_Code_B001,Customer_Existing_Primary_Bank_Code_B002,Customer_Existing_Primary_Bank_Code_B003,Customer_Existing_Primary_Bank_Code_B004,Customer_Existing_Primary_Bank_Code_B005,Customer_Existing_Primary_Bank_Code_B006,Customer_Existing_Primary_Bank_Code_B999,Customer_Existing_Primary_Bank_Code_OTROS,Primary_Bank_Type_G,Primary_Bank_Type_P,Primary_Bank_Type_X,Source_OTROS,Source_S122,Source_S127,Source_S133,Source_S137,Source_S143,Source_S159,Source_Category_B,Source_Category_C,Source_Category_E,Source_Category_G,Source_Category_OTROS
0,0.0,0,0.0,4.0,0.0,0,0.00,0.0,0.0,2000.0,2.0,0,train,36,201607,1,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,1,0
1,0.0,1,953.0,1.0,0.0,1,13.25,20000.0,2.0,3500.0,0.0,10,train,29,201607,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,1,0
2,0.0,1,0.0,4.0,0.0,1,0.00,45000.0,4.0,2250.0,1.0,0,train,33,201607,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,1,0,0,0,0
3,0.0,1,0.0,4.0,0.0,1,0.00,92000.0,5.0,3500.0,1.0,7,train,27,201607,0,0,1,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,1,0,0,0,0
4,0.0,1,0.0,4.0,2500.0,1,0.00,50000.0,2.0,10000.0,1.0,10,train,31,201607,1,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,1,0,0,0,0

In [ ]:
codmes_aplica

In [424]:
data_imp_temp = data2[data2['train_test']=='train'].copy()
cont = 0
for y in ["codmes_aplica"]:
    cont = cont + 1
    print("------------------------------------------------------")
    print(str(cont),". Var: ",y, sep = "")
    print(y)
    print(pd.concat([pd.DataFrame(data_imp_temp[:][y].value_counts().index, columns = ['Atributo']),
           pd.DataFrame(data_imp_temp[:][y].value_counts().values, columns = ['Cantidad']),
           pd.DataFrame(100*data_imp_temp[:][y].value_counts().values/len(data_imp_temp), columns = ['%Total'])], axis = 1))
    temp = pd.DataFrame(np.array(data_imp_temp.groupby(y, as_index = False, axis = 0)[TARGET].mean()), 
                         columns = [y,"% ratio_conv"])
    temp["% ratio_conv"] = temp["% ratio_conv"]*100
    temp = temp.sort_values(by = ["% ratio_conv"], ascending = [False])
    print(temp)

------------------------------------------------------
1. Var: codmes_aplica
codmes_aplica
   Atributo  Cantidad     %Total
0    201609     25733  36.912771
1    201608     22404  32.137478
2    201607     21576  30.949751
   codmes_aplica  % ratio_conv
1       201608.0      1.624710
0       201607.0      1.436782
2       201609.0      1.344577

In [425]:
dataset = data2.copy()

In [442]:
train = dataset[dataset['train_test'] == 'train'].reset_index(drop = True)
subm = dataset[dataset['train_test'] == 'test'].reset_index(drop = True)

del(train['train_test'])
del(subm['train_test'])

## 3. Modelamiento

## 3.1 Seleccionar variables predictoras

In [427]:
list(dataset.columns)

['Approved',
 'Contacted',
 'EMI',
 'Employer_Category2',
 'Existing_EMI',
 'Gender',
 'Interest_Rate',
 'Loan_Amount',
 'Loan_Period',
 'Monthly_Income',
 'NAN_COUNTS',
 'Var1',
 'train_test',
 'edad',
 'codmes_aplica',
 'City_Category_A',
 'City_Category_B',
 'City_Category_C',
 'City_Category_SIN_INFO',
 'City_Code_C10001',
 'City_Code_C10002',
 'City_Code_C10003',
 'City_Code_C10004',
 'City_Code_C10005',
 'City_Code_C10006',
 'City_Code_C10007',
 'City_Code_C10008',
 'City_Code_OTROS',
 'Employer_Code_FlagNulo',
 'Employer_Category1_A',
 'Employer_Category1_B',
 'Employer_Category1_C',
 'Employer_Category1_X',
 'Customer_Existing_Primary_Bank_Code_B001',
 'Customer_Existing_Primary_Bank_Code_B002',
 'Customer_Existing_Primary_Bank_Code_B003',
 'Customer_Existing_Primary_Bank_Code_B004',
 'Customer_Existing_Primary_Bank_Code_B005',
 'Customer_Existing_Primary_Bank_Code_B006',
 'Customer_Existing_Primary_Bank_Code_B999',
 'Customer_Existing_Primary_Bank_Code_OTROS',
 'Primary_Bank_Type_G',
 'Primary_Bank_Type_P',
 'Primary_Bank_Type_X',
 'Source_OTROS',
 'Source_S122',
 'Source_S127',
 'Source_S133',
 'Source_S137',
 'Source_S143',
 'Source_S159',
 'Source_Category_B',
 'Source_Category_C',
 'Source_Category_E',
 'Source_Category_G',
 'Source_Category_OTROS']

In [443]:
# Dataset vars
features_to_model = ['Contacted',
 'EMI',
 'Employer_Category2',
 'Existing_EMI',
 'Gender',
 'Interest_Rate',
 'Loan_Amount',
 'Loan_Period',
 'Monthly_Income',
 'NAN_COUNTS',
 'Var1',
 'edad',
 'codmes_aplica',
 'City_Category_A',
 'City_Category_B',
 'City_Category_C',
 'City_Category_SIN_INFO',
 'City_Code_C10001',
 'City_Code_C10002',
 'City_Code_C10003',
 'City_Code_C10004',
 'City_Code_C10005',
 'City_Code_C10006',
 'City_Code_C10007',
 'City_Code_C10008',
 'City_Code_OTROS',
 'Employer_Code_FlagNulo',
 'Employer_Category1_A',
 'Employer_Category1_B',
 'Employer_Category1_C',
 'Employer_Category1_X',
 'Customer_Existing_Primary_Bank_Code_B001',
 'Customer_Existing_Primary_Bank_Code_B002',
 'Customer_Existing_Primary_Bank_Code_B003',
 'Customer_Existing_Primary_Bank_Code_B004',
 'Customer_Existing_Primary_Bank_Code_B005',
 'Customer_Existing_Primary_Bank_Code_B006',
 'Customer_Existing_Primary_Bank_Code_B999',
 'Customer_Existing_Primary_Bank_Code_OTROS',
 'Primary_Bank_Type_G',
 'Primary_Bank_Type_P',
 'Primary_Bank_Type_X',
 'Source_OTROS',
 'Source_S122',
 'Source_S127',
 'Source_S133',
 'Source_S137',
 'Source_S143',
 'Source_S159',
 'Source_Category_B',
 'Source_Category_C',
 'Source_Category_E',
 'Source_Category_G',
 'Source_Category_OTROS']

In [444]:
# Predictoras y target
X = train[features_to_model]
y = train[TARGET]

X_subm = subm[features_to_model]

In [454]:
X_train = X.copy()
y_train = y.copy()

X_train_cv  = X.copy()
y_train_cv  = y.copy()

In [446]:
print("train: ", X.shape,", summit: ", X_subm.shape)

train:  (69713, 54) , summit:  (30037, 54)

## 3.2 Modelos

### A. RANDOM FOREST

In [449]:
from sklearn.ensemble import RandomForestClassifier
classifier = RandomForestClassifier(n_estimators = 100, random_state = 321, n_jobs = 4, max_depth = 5, min_samples_leaf = 20)
                                    #, max_features = 15 )

In [458]:
# Cros Validation
from sklearn.base import clone
from sklearn import cross_validation
from sklearn.metrics import roc_auc_score
k = 5 # n folds
metric = 'roc_auc'
cv = cross_validation.KFold(len(X_train_cv), n_folds=k, random_state = 100, shuffle = True)

results_train = []
results_test = []
list_models = [] 

i = 0
for traincv, testcv in cv:
        model = clone(classifier)
        model = model.fit(X_train_cv.values[traincv], y_train_cv[traincv])
        probas_train = model.predict_proba(X_train_cv.values[traincv])[:,1]
        probas_test = model.predict_proba(X_train_cv.values[testcv])[:,1]
        metric_train = roc_auc_score(y_train_cv[traincv],probas_train)
        metric_test = roc_auc_score(y_train_cv[testcv],probas_test)
        results_train.append(metric_train)
        results_test.append(metric_test)
        list_models.append(model)
        print("Ok - ",str(i),": ", str(round(metric_train,6)), str(round(metric_test,6)))
        print("Mean Target: ", str(round(y_train_cv[traincv].mean(),4)), str(round(y_train_cv[testcv].mean(),4)))

        i = i + 1

result_final_train = np.mean(results_train)
result_final_test = np.mean(results_test)
print("\nFinal - ",str(i),": ", str(round(result_final_train,4)), str(round(result_final_test,4)))

print("Listo!\n")

Ok -  0 :  0.852705 0.823995
Mean Target:  0.0148 0.0141
Ok -  1 :  0.845535 0.861499
Mean Target:  0.0149 0.0136
Ok -  2 :  0.850993 0.832397
Mean Target:  0.0142 0.0162
Ok -  3 :  0.852423 0.822699
Mean Target:  0.0145 0.0151
Ok -  4 :  0.856531 0.805779
Mean Target:  0.0148 0.0141

Final -  5 :  0.8516 0.8293
Listo!

In [459]:
model_rf = classifier.fit(X_train_cv, y_train)
y_pred_proba = model_rf.predict_proba(X_train) 

# Cálculo del AUC-ROC
from sklearn import metrics as mt
auc = mt.roc_auc_score(y_train.astype('int'),y_pred_proba[:,1])
auc

0.84805155390151632

In [195]:
features = pd.DataFrame()
features['feature'] = X_train.columns
features['importance'] = model_rf.feature_importances_

In [196]:
ftrs = features.sort_values(by = ['importance','feature'],ascending=False)
ftrs = ftrs.reset_index(drop = True)
ftrs

                                    feature    importance
0                                ANTIGUEDAD  1.048812e-01
1                            RNK_ANTIGUEDAD  9.825517e-02
2                              RANG_INGRESO  9.645583e-02
3                    RANG_SDO_PASIVO_MENOS0  8.146840e-02
4                RNK_RANG_SDO_PASIVO_MENOS0  8.064433e-02
5                      FLG_SDO_OTSSFF_ULT3M  3.989721e-02
6                                NAN_COUNTS  2.667484e-02
7                     FLG_SDO_OTSSFF_MENOS0  2.404307e-02
8                                      EDAD  2.175146e-02
9              NRO_ACCES_CANALES_VARS_ULT6M  1.847743e-02
10                RANG_NRO_PRODUCTOS_MENOS0  1.667915e-02
11                NRO_ENTID_SSFF_ULT6M_cont  1.550137e-02
12                     NRO_ENTID_SSFF_ULT6M  1.452871e-02
13                         FLG_SEGURO_ULT3M  1.415111e-02
14             NRO_ACCES_CANALES_ULT6M_cont  1.268946e-02
15             NRO_ACCES_CANALES_ULT6M_ajus  1.183174e-02
16                   N_REQUERIMIENTOS_ULT6M  1.087888e-02
17                  NRO_ACCES_CANALES_ULT6M  1.016574e-02
18                         FLG_SEGURO_ULT6M  1.002066e-02
19                    FLG_SDO_OTSSFF_MENOS2  9.320540e-03
20                FLAG_REQUERIMIENTOS_ULT6M  8.987560e-03
21              NRO_ACCES_CANAL3_ULT6M_ajus  8.600138e-03
22                        FLG_SEGURO_MENOS1  8.556696e-03
23                               FLG_NOMINA  7.725765e-03
24                    FLG_SDO_OTSSFF_MENOS1  7.365776e-03
25                     FLG_SDO_OTSSFF_ULT6M  6.983978e-03
26              NRO_ACCES_CANAL3_VARS_ULT6M  6.871741e-03
27                 NRO_ACCES_CANALES_MENOS1  6.663947e-03
28                 NRO_ACCES_CANALES_MENOS0  6.618605e-03
29                   NRO_ACCES_CANAL3_ULT6M  6.504224e-03
..                                      ...           ...
216            SUBMOTIVO_ULT6M_Submotivo_89  1.694967e-05
217           SUBMOTIVO_ULT3M_Submotivo_993  1.635327e-05
218           SUBMOTIVO_ULT2M_Submotivo_991  1.462135e-05
219           SUBMOTIVO_ULT6M_Submotivo_994  1.268177e-05
220           SUBMOTIVO_ULT3M_Submotivo_146  1.216313e-05
221           SUBMOTIVO_ULT2M_Submotivo_157  1.087061e-05
222           SUBMOTIVO_ULT2M_Submotivo_993  1.017388e-05
223            SUBMOTIVO_MES0_Submotivo_144  9.038721e-06
224            SUBMOTIVO_ULT3M_Submotivo_89  8.571654e-06
225           SUBMOTIVO_ULT3M_Submotivo_157  8.105608e-06
226           SUBMOTIVO_ULT2M_Submotivo_146  7.331569e-06
227            SUBMOTIVO_MES0_Submotivo_991  5.145427e-06
228     CUENTA_Reclamo_MES0_PROCEDE_PARCIAL  4.518939e-06
229            SUBMOTIVO_MES0_Submotivo_993  3.390171e-06
230    CUENTA_Reclamo_ULT3M_PROCEDE_PARCIAL  2.976863e-06
231           SUBMOTIVO_ULT2M_Submotivo_994  2.568134e-06
232           SUBMOTIVO_ULT3M_Submotivo_994  2.328693e-06
233            SUBMOTIVO_ULT2M_Submotivo_43  2.134988e-06
234            SUBMOTIVO_MES0_Submotivo_146  7.911169e-07
235            SUBMOTIVO_MES0_Submotivo_157  7.779235e-07
236    CUENTA_Reclamo_ULT2M_PROCEDE_PARCIAL  5.009162e-07
237            SUBMOTIVO_ULT3M_Submotivo_27  0.000000e+00
238            SUBMOTIVO_ULT2M_Submotivo_27  0.000000e+00
239            SUBMOTIVO_MES0_Submotivo_994  0.000000e+00
240             SUBMOTIVO_MES0_Submotivo_89  0.000000e+00
241             SUBMOTIVO_MES0_Submotivo_27  0.000000e+00
242  CUENTA_Solicitud_ULT6M_PROCEDE_PARCIAL  0.000000e+00
243  CUENTA_Solicitud_ULT3M_PROCEDE_PARCIAL  0.000000e+00
244  CUENTA_Solicitud_ULT2M_PROCEDE_PARCIAL  0.000000e+00
245   CUENTA_Solicitud_MES0_PROCEDE_PARCIAL  0.000000e+00

[246 rows x 2 columns]

In [197]:
ftrs.to_excel("features/importancia_param_rf_v01.xlsx", index = False)

## B. LightGBM

In [460]:
import lightgbm as lgb
# create dataset for lightgbm
lgb_train = lgb.Dataset(X_train, y_train)
#lgb_eval = lgb.Dataset(X_test, y_test, reference=lgb_train)

In [557]:
num_boost_round = 10000

lgb_params = {}

lgb_params['learning_rate'] = 0.01
lgb_params['n_estimators'] = 200 #2000
lgb_params['max_bin'] = 10
lgb_params['subsample'] = 0.7
lgb_params['subsample_freq'] = 20 # 20
lgb_params['colsample_bytree'] = 0.7   
lgb_params['min_child_samples'] = 20
lgb_params['seed'] = 123 #321
lgb_params['objective'] = 'binary'
lgb_params['max_depth'] = 4

#lgb_params['min_data_in_leaf'] = 50

lgb_params['num_leaves'] = 70

lgb_params['metric'] = 'binary_logloss'
lgb_params['training_metric'] = True

In [558]:
# Cros Validation
from sklearn.base import clone
from sklearn import cross_validation
from sklearn.metrics import roc_auc_score

metric = 'roc_auc'
k = 5 
cv = cross_validation.KFold(len(X_train_cv), n_folds=k, random_state = 0, shuffle = True)

results_train = []
results_test = []
list_models = [] 

results_subm = pd.DataFrame()

i = 0
for traincv, testcv in cv:
        lgb_train = lgb.Dataset(X_train_cv.values[traincv], y_train_cv[traincv])
        lgb_eval = lgb.Dataset(X_train_cv.values[testcv], y_train_cv[testcv], reference=lgb_train)
        model = lgb.train(lgb_params,
                          lgb_train,
                          num_boost_round=num_boost_round,
                          valid_sets = lgb_eval,
                          early_stopping_rounds = 50,
                          verbose_eval = 0)
        probas_train = model.predict(X_train_cv.values[traincv], num_iteration=model.best_iteration)
        probas_test = model.predict(X_train_cv.values[testcv], num_iteration=model.best_iteration)
        metric_train = roc_auc_score(y_train_cv[traincv],probas_train)
        metric_test = roc_auc_score(y_train_cv[testcv],probas_test)
        
        results_train.append(metric_train)
        results_test.append(metric_test)
        list_models.append(model)
        print("Ok - ",str(i),": ", str(round(metric_train,6)), str(round(metric_test,6)))
        print("Mean Target: ", str(round(y_train_cv[traincv].mean(),4)), str(round(y_train_cv[testcv].mean(),4)))
        
        results_subm[str(i)] = model.predict(X_subm, num_iteration=model.best_iteration)
        
        i = i + 1

print("Listo!")
result_final_train = np.mean(results_train)
result_final_test = np.mean(results_test)

### TRAIN
print ("auc - train: ", result_final_train) 
### TEST
print ("auc - test : ", result_final_test) 

print("Diff:        ", round(result_final_train-result_final_test,4))

Ok -  0 :  0.851888 0.828709
Mean Target:  0.0148 0.0138
Ok -  1 :  0.879858 0.836231
Mean Target:  0.0149 0.0137
Ok -  2 :  0.883012 0.84952
Mean Target:  0.0146 0.0146
Ok -  3 :  0.894782 0.849944
Mean Target:  0.0145 0.015
Ok -  4 :  0.895881 0.858694
Mean Target:  0.0143 0.016
Listo!
auc - train:  0.881084291895
auc - test :  0.844619465194
Diff:         0.0365

In [ ]:
auc - train:  0.892228960435
auc - test :  0.847996196235
Diff:         0.0442

Public LB : 0.8489357904
    
# Parametros
num_boost_round = 10000

lgb_params = {}

lgb_params['learning_rate'] = 0.01
lgb_params['n_estimators'] = 200 #2000
lgb_params['max_bin'] = 10
lgb_params['subsample'] = 0.7
lgb_params['subsample_freq'] = 20 # 20
lgb_params['colsample_bytree'] = 0.7   
lgb_params['min_child_samples'] = 20
lgb_params['seed'] = 123 #321
lgb_params['objective'] = 'binary'
lgb_params['max_depth'] = 4

#lgb_params['min_data_in_leaf'] = 50

lgb_params['num_leaves'] = 50

lgb_params['metric'] = 'binary_logloss'
lgb_params['training_metric'] = True

          0         1         2         3         4    TARGET
0  0.006147  0.008283  0.007345  0.008695  0.010087  0.008112
1  0.015815  0.023514  0.016304  0.014804  0.014354  0.016958
2  0.000141  0.000817  0.000564  0.000214  0.000168  0.000381
3  0.000120  0.000588  0.000468  0.000167  0.000093  0.000287
4  0.004016  0.004425  0.003472  0.004228  0.003689  0.003966

# Submission

In [565]:
results_subm["TARGET"] = results_subm['4']#results_subm.apply(np.mean,axis=1)
results_subm.head()

          0         1         2         3         4    TARGET
0  0.073405  0.008283  0.007345  0.008695  0.010087  0.010087
1  0.101351  0.023514  0.016304  0.014804  0.014354  0.014354
2  0.068350  0.000817  0.000564  0.000214  0.000168  0.000168
3  0.068174  0.000588  0.000468  0.000167  0.000093  0.000093
4  0.071904  0.004425  0.003472  0.004228  0.003689  0.003689

In [566]:
y_pred_summit = results_subm["TARGET"].values
summit_final = pd.concat( [test_ori.ix[:,'ID'] , pd.DataFrame(y_pred_summit,columns = ['Approved'] )], axis = 1)
summit_final.head()

                ID  Approved
0  APPA70109647212  0.010087
1  APPB10687939341  0.014354
2  APPC80449411414  0.000168
3  APPD30665094501  0.000093
4  APPE80379821637  0.003689

In [567]:
summit_final.to_csv("submissions/Summit_lgbmgb_03_54vars_prueba.csv", index = False)

In [ ]:
8460, 8448, 8493